/* .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation{
	width:100% !important;
} */
.single-product div.product .summary {
    width: 42.941176%;
}

.term-gluten-free-kits main#main .term-description {
    max-width: 560px;
    margin: 30px auto;
    text-align: center;
}

.countdown-banner {
    background: #143d2d;
}

.vc_row.wpb_row.vc_row-fluid.sunday-banner.vc_row-no-padding {
    position: initial !important;
}

.close-searh-pop svg {
    width: 17px;
    cursor: pointer;
}

.secondary-navigation ul.menu a {
    font-size: 18px;
    color: yellow !important;
    padding: 10px !important;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    98% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.6;
    }
}

div#wpdevart_countdown-2 {
    display: none;
}

.YTPOverlay {
    background: #0000008c;
}

button#utub-vol-control {
    background: #ee324d;
    color: #ffffff;
    border-radius: 10px;
    display: inline-block;
}

button#utub-vol-control:hover {
    background: #0aa8aa;
}

button#utub-vol-control {
    margin-top: 35px;
}

.single .gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.single .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.single .gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
    margin-top: 0;
}

.yith-wacp-content table.cart-list td.item-remove a:hover {
    background: transparent !important;
}

.d_woocommerce_order_note {
    padding: 20px;
    margin: 20px 0;
    border: solid 1.5px #ee324d;
    border-radius: 14px;
}

.d_woocommerce_order_note p {
    font-family: "congenial";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4d4d4f;
}

.d_woocommerce_order_note h3 {
    color: #0aa8aa;
    font-family: "congenial";
    font-size: 18px !important;
    text-transform: uppercase;
}

.d_woocommerce_order_note h3:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    font-family: Font Awesome\5 Free;
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "\f05a";
    margin-left: 0;
    margin-right: 10px;
}

div#input_5_5 div {
    margin: 0 auto;
}

.wpgs-for .slick-arrow,
.wpgs-nav .slick-prev::before,
.wpgs-nav .slick-next::before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
}

.site-header-cart .cart-contents:after {
    display: none;
}

@media (min-width: 1024px) {

    .block.footer-widget-1,
    .block.footer-widget-2,
    .block.footer-widget-3 {
        width: 22% !important;
        padding: 0 15px;
    }

    .block.footer-widget-4 {
        width: 35% !important;
        padding: 0 15px;
    }

    .footer-widgets span.gamma.widget-title {
        pointer-events: none;
    }

    .site-footer .wpautoterms-footer a:before {
        content: "";
        width: 1px;
        height: 10px;
        background: #fff;
        position: absolute;
        left: 10px;
        top: 6px;
    }

    .site-footer .wpautoterms-footer a {
        position: relative;
    }

    .site-footer .wpautoterms-footer {
        line-height: 35px;
        width: auto;
        display: inline-flex;
        align-items: center;
    }
}

.post-header-banner.d-banner-vd {
    padding-top: 120px;
    height: auto;
    padding-bottom: 120px;
}

.single .ubtn-ctn-center {
    text-align: center;
}

.grecaptcha-badge {
    opacity: 0;
}

div#beacon-container {
    z-index: 9999999;
    position: relative;
}

.footer-widgets .widget {
    color: #fff;
}

.site-footer .site-info {
    padding-bottom: 10px;
    justify-content: flex-start;
}

.site-footer p.copyright {
    margin-bottom: 0 !important;
    color: #fff !important;
}

.site-footer .wpautoterms-footer {
    line-height: 22px;

    width: auto;
}

.footer-widgets input#kla_email_klaviyo_emailsignup_widget-2 {
    border-top-left-radius: 8px;
    /* width: 100%; */
    font-family: "congenial";
    font-size: 16px;
    color: #0aa8aa !important;
    background: #fff;
    box-shadow: none;
    border-bottom-left-radius: 8px;
    display: block !important;
    min-width: 220px;
}

.wpautoterms-footer a {
    padding-left: 20px;
    color: #fff !important;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.footer-widgets .klaviyo_messages {
    margin-top: 10px;
}

.footer-widgets .widget_klaviyo_emailsignup_widget form p {
    margin-bottom: 10px !important;
}

.footer-widgets .klaviyo_field_group {
    display: flex;
    position: relative;
}

.footer-widgets #kla_email_klaviyo_emailsignup_widget-2 {

    // mobile
    @media (max-width: 767px) {
        font-size: 11px !important;
    }
}

.footer-widgets button.klaviyo_submit_button {
    transform: translateX(-5px);
    right: 0;
    color: #fff;
    background: #09989A;
    border-radius: 8px;
    font-family: "congenial";
    font-size: 16px !important;
    font-weight: bold;

    // mobile
    @media (max-width: 767px) {
        font-size: 11px !important;
    }
}

.footer-widgets {
    align-items: flex-start;
    font-family: "congenial";
    padding-top: 100px;
}

.footer-menu {
    border-bottom: 0;
}

.d-ship-to {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.d-ship-to img {
    max-width: 67px;
    margin-left: 15px;
}

.footer-widgets input::placeholder {
    opacity: 0.4;
    color: #0aa8aa;
}

.footer-widgets .widget li {
    margin-bottom: 7px;
}

p.copyright {
    font-size: 8px !important;
}

.footer-widgets span.gamma.widget-title {
    font-weight: bold;
    font-size: 18px !important;
    text-align: left;
    text-transform: uppercase;
}

.widget_nav_menu ul li:before {
    display: none;
}

.footer-widgets .widget li {
    padding-left: 0 !important;
}

.footer-widgets .widget li a {
    color: #fff !important;

    font-size: 14px;
    text-transform: uppercase;

    text-decoration: none;
}

p#billing_company_field span.optional,
p#shipping_company_field span.optional {
    display: none;
}

.wp-block-wpzoom-recipe-card-block-directions,
.wp-block-wpzoom-recipe-card-block-ingredients,
.wp-block-wpzoom-recipe-card-block-details {
    font-family: "congenial";
}

.woocommerce-checkout .woocommerce-info:before {
    color: #0aa8aa;
}

h2.woocommerce-loop-product__title,
h4.woocommerce-loop-product__title {
    line-height: 1.7;
}

.wof-widget {
    z-index: 999999;
}

@media (min-width: 768px) {
    .d-ship-to span br {
        display: none;
    }

    #zakeke-frame {
        min-height: 900px;
    }

    .footer-widgets .widget_klaviyo_emailsignup_widget form p br {
        display: none
    }
}

div#tab-description p.vc_custom_heading {
    font-size: 10px !important;
}

.sub-custom-date label {
    position: relative;
}

tr.sub-custom-date input {
    display: none;
}

select#sub_start_date_sc {
    font-size: 13px;
    border-radius: 8px !important;
    font-family: "congenial";
    color: #868688;
    border-color: #868688;
    border-width: 1px;
    height: 40px;
    padding: 0 10px;
}

tr.sub-custom-date label span {
    display: inline-block !important;
    padding-left: 30px;
    /* top: -10px; */
    position: relative;
}

.sub-custom-date label span:after {
    content: " ";
    top: 4px;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 0;
    border-radius: 50%;
    background: #0aa8aa;
    left: 4px !important;
    opacity: 0;
}

.sub-custom-date [type="checkbox"]:checked+span:after {
    opacity: 1;
}

.sub-custom-date label span:before {
    content: " ";
    top: 0;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid #d8d8d9;
    z-index: 0;
    border-radius: 50%;
    background: #fff;
    left: 0;
}

div#zakeke-container {
    padding: 0 15px;
}

/* product des */
div#about {
    outline: none;
}

.single-product .d-product-designer-tab.d-p-des div#tab-description .vc_row.wpb_row.vc_row-fluid:nth-last-child(1),
.single-product .d-product-designer-tab.d-p-des div#tab-description .vc_row.wpb_row.vc_row-fluid:nth-last-child(2),
.single-product .d-product-designer-tab.d-p-des div#tab-description .vc_row.wpb_row.vc_row-fluid:nth-last-child(3) {
    display: none;
}

.single-product .d-product-designer .woocommerce-message {
    position: absolute;
}

.single-product .d-product-designer button.single_add_to_cart_button.button.alt:hover,
.single-product div#content .d-p-des .d-btn-rg a.ubtn-link .ubtn:hover {
    background: #fff !important;
    color: #ee324d !important;
}

.single-product div#content .d-product-designer.container.col-full {
    max-width: 1090px !important;
    margin: 0 auto !important;
}

.d-product-designer form.cart .quantity {
    display: none;
}

.single-product .d-product-designer .summary.entry-summary p.price del {
    display: inline-block;
    color: #ee324d;
    font-size: 13px;
    margin-left: 16px;
    opacity: 1;
}

.d-product-designer a.woocommerce-review-link svg path {
    fill: #b8d656;
}

.d-product-designer a.woocommerce-review-link svg {
    margin-left: 10px;
}

.d-product-designer a.woocommerce-review-link {
    margin-left: 20px;
    color: #b8d656;
}

.d-product-designer .woocommerce-product-rating {
    display: flex;
    align-items: center;
}

.d-product-designer .star-rating {
    margin: 0;
    display: inline-block;
}

.d-product-designer .woocommerce-product-details__short-description p {
    color: #ee324d;
    max-width: 350px;
}

.single-product .d-product-designer h1.product_title.entry-title {
    font-size: 42px;
    color: #ee324d;
    text-align: left;
    font-family: "congenial";
    font-weight: bold;
}

.single-product .d-product-designer .cart-inner svg {
    display: none;
}

.single-product div#content .d-product-designer .d-container-cs.top {
    width: 1110px !important;
    margin: 0 auto !important;
    padding: 0 15px;
}

.single-product div#content .d-p-des .d-btn-rg.ubtn-ctn-left {
    max-width: none;
}

.single-product div#content .d-p-des .d-btn-rg a.ubtn-link .ubtn {
    font-size: 20px;
    padding-left: 20px !important;
    line-height: 22px;
    padding-right: 20px !important;
    height: 50px !important;
    width: auto !important;
}

.d-product-designer-tab {
    max-width: 1075px;
    margin: 0 auto;

    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 3px 10px #00000014;
    border-radius: 20px;
}

.single-product .d-product-designer button.single_add_to_cart_button.button.alt {
    background: #ee324d;
    border-radius: 8px;
    color: #fff;
    width: auto !important;
    max-width: none;
    font-family: "Congenial" !important;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
}

div#zakeke-container {
    max-width: 1044px;
    margin: 30px auto;
}

.d-mw-d img {
    max-height: 180px;
    margin: 0 auto;

    width: auto;
}

div#d-list-col2 ul {
    padding-left: 15px;
    margin: 0;
    column-count: 2;
    color: #4d4d4f;
    font-family: "congenial";
}

.d-product-designer {
    background-size: cover;
    background-position: center;
    margin-top: -10%;
    padding-top: 15%;
    padding-bottom: 5%;
}

.d-container-cs {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/*  */

.kwKcxv.kwKcxv,
.klaviyo-form {
    z-index: 999999999 !important;
}

.sub-product-list .product.type-product:first-child span.sub-save-price,
.sub-product-list .product.type-product:nth-child(2) span.sub-save-price {
    opacity: 0;
    visibility: hidden;
}

body .yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product img {
    max-width: 100% !important;
}

.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product h3 {
    padding-left: 0 !important;
}

/* div#d-baking-kit:before {
    content: " ";
    position: absolute;
    width: 100%;
       top: -35px;
    height: 55px;
    background: url(https://wordpress-460252-1458808.cloudwaysapps.com/wp-content/uploads/2020/08/dash@2x_f.png);
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 */
div#d-baking-kit {
    z-index: 99999;
    position: relative;
    overflow: visible;
}

.d-btn-rg.ubtn-ctn-left {
    max-width: 210px;
    float: left;
    margin-right: 25px;
}

.d-btn-rg.ubtn-ctn-center {
    text-align: center !important;
}

.d-btn-rg a.ubtn-link .ubtn {
    border-radius: 8px !important;
    font-family: Congenial !important;
    text-transform: uppercase;
    height: 55px !important;
    font-weight: bold !important;
}

.d-term-pro .d-term-item {
    margin-bottom: 20px;
}

.d-term-pro {
    flex-wrap: wrap;
}

#payment .payment_methods>.wc_payment_method [type="radio"]:checked+label:after {
    opacity: 1 !important;
}

ul#shipping_method li:first-child:nth-last-child(1) label:after {
    opacity: 1 !important;
}

.ultv-vimeo-headers a {
    color: #fff;
    font-size: 13px;

    text-decoration: none !important;
    font-family: "congenial";
}

div#gfield_description_2_2 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

li#field_2_2 {
    position: relative;
}

.gform_wrapper .gform_fileupload_multifile .gform_drop_area {
    padding-top: 50px;
}

span.play {
    width: 54px;
    height: 54px;
    background: url("https://wordpress-460252-1458808.cloudwaysapps.com/wp-content/themes/baketivity/images/icon-v.svg");
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-size: cover;
    cursor: pointer;
}

li#field_2_18 {
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.d-section-rp.loading:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: #000;
    border-radius: 25px;
    opacity: 0.2;
    z-index: 999;
}

input#gform_submit_button_2:hover {
    color: #ee324d;
    background: #fff;
    border: solid 3px #ee324d;
}

a.ubtn-link {
    text-decoration: none !important;
}

.d-two-btn .vc_column-inner .wpb_wrapper .ubtn-ctn-center span.ubtn-text {
    margin-top: 3px;
}

.like-btn {
    display: inline-block;
}

.total-vote {
    color: #4d4d4f;
    font-family: "Congenial-light";
    font-weight: 500;
    font-size: 17px;
}

.d-section-rp.loading:after {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: 0 auto;
    content: " ";
    display: block;
    z-index: 101;
    top: 45%;
    transform: translateY(-45%);
    right: 0;
    left: 0;
}

#ui-datepicker-div select {
    width: auto;
    border-radius: 0 !important;
    font-size: 16px !important;
    color: #868688 !important;
    border-color: #868688 !important;
}

.d-two-btn .vc_column-inner .wpb_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-two-btn .vc_column-inner .wpb_wrapper .ubtn-ctn-center {
    margin-left: 20px;
    margin-right: 20px;
}

.d-btn-cs-font * {
    font-family: Cubano;
}

.d-btn-cs-font button {
    border-radius: 36px !important;
}

.single-camp_video .tag a {
    pointer-events: none;
}

p#subscribe_to_replies_field {
    display: none !important;
    opacity: 0;
}

.single-post h2.comments-title {
    padding: 0 20px;
}

.d-cpt {
    width: 100%;
    text-align: center;
}

.gglcptch_recaptcha div {
    margin: 0 auto !important;
}

.tag a {
    pointer-events: none;
}

.single-camp_video .post-header-banner {
    padding-top: 120px;
    height: auto;
}

.post-header-banner a {
    font-size: 17px;
    color: #0aa8aa;
    text-decoration: none !important;
    font-family: congenial !important;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.post-header-banner h3 {
    text-align: center;
    color: #ee324d;
    font-size: 67px;
    text-align: center;
    line-height: 68px;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 0;
}

.mejs-overlay-button:before {
    font-family: defaults;
}

div#wpdcom {
    font-family: "congenial";
}

.mejs-container {
    border-radius: 25px;
    overflow: hidden;
}

input#place_order[data-value="Add payment method"] {
    padding: 0 !important;
    width: 293px !important;
    height: 52px;
    margin: 0 auto;
    border-color: #ee324d;
    border-style: solid;
    background: #ee324d;
    border-width: 3px;
}

input#update_all_subscriptions_payment_method {
    display: inline-flex !important;
    width: auto;
    float: none;
    min-width: 0 !important;
    height: auto;
}

input#place_order[data-value="Add payment method"]:hover {
    color: #000;
    background: #fff;
}

.d-file-front i {
    position: static;
    width: 63px;
    height: 63px;
    border: solid 3px #0aa8aa;
    border-radius: 50%;
    opacity: 1;
    /* transform: rotate(-45deg); */
    /* transform-origin: -100% 50%; */
    text-align: center;
    font-size: 20px !important;
    color: #0aa8aa;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.input-container.file {
    position: relative;

    margin-bottom: 0;
}

.input-container.file .wpcf7-form-control-wrap {
    position: static;
}

.input-container.file input {
    margin-left: 0 !important;
    padding-left: 0;
    width: auto;
    padding: 13px 0;
    position: absolute;
    top: 0;
    opacity: 0;
}

.d-file-front .fa-paperclip:before {
    transform: rotate(-45deg);
}

.d-file-front {
    display: flex;
    align-items: center;
}

.d-file-front span {
    line-height: 28px;
    font-size: 25px;
    color: #0aa8aa;
    margin-left: 10px;
}

.col-full.top-bar a.login.no-border {
    font-size: 10.2px;
}

input.wpcf7-form-control.wpcf7-submit:hover {
    background: #fff;
    color: #ee324d;
}

input.wpcf7-form-control.wpcf7-submit {
    font-size: 24px;
    line-height: 27px;
    background: #ee324d;
    color: #fff;
    text-transform: uppercase;
    width: 203px;
    height: 52px;
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    text-align: center;
    margin: 0 auto;
    display: inherit;
}

nav.secondary-navigation li a {
    text-transform: uppercase;
}

.main-navigation ul.menu>li>a,
.main-navigation ul.nav-menu>li>a {
    padding: 10px 8px;
}

tr.fee th span {
    display: block;
    /* padding-left: 35px; */
    color: #7b7b7c;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
}

.main-navigation ul.menu>li>a,
.main-navigation ul.nav-menu>li>a {
    font-size: 16px;
}

section.product-related-camp.col-full .d-camp-videos h3 a,
section.product-related-camp.col-full .d-camp-videos h3 {
    font-size: 28px;
    line-height: 34px;
}

section.product-related-camp.col-full .d-camp-videos .tag a {
    font-size: 12px;
    line-height: 18px;
}

.d-camp-action a {
    margin: 15px 15px;
}

.d-camp-action {
    text-align: center;
    margin-top: 30px;
    float: none;
    clear: both;
}

div#comments {
    padding-top: 0;
}

a.btn.red {
    background: #ee324d;
    color: #fff;
    border-color: #ee324d;
}

a.btn.red:hover {
    background: #fff;
    color: #ee324d;
}

div#wpdcom {
    padding-left: 15px;
    padding-right: 15px;
}

.limit-height-css img,
div#d-baking-kit img {
    max-height: 300px;
    width: auto;
}

@media (min-width: 768px) {
    section.product-related-camp.col-full .d-camp-videos {
        justify-content: left;
        margin: 0 -15px;
    }

    section.product-related-camp.col-full .d-camp-video {
        width: 25%;
        width: 25%;
        padding: 0 15px;
    }

    .storefront-full-width-content .content-area {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1400px) {
    div#d-baking-kit:before {
        background-size: 1400px;
    }
}

@media (max-width: 1100px) {
    div#d-baking-kit:before {
        background-size: 1200px;
    }
}

@media (max-width: 768px) {
    .countdown-banner .test_count_down_inner_col_1 .wpb_single_image .vc_figure {
        max-width: 182px;
    }

    .countdown-banner .wpb_single_image .vc_figure {
        margin-bottom: 14px;
    }

    .footer-widgets .block {
        text-align: left;
    }

    .footer-widgets input#kla_email_klaviyo_emailsignup_widget-2 {
        min-width: 200px;
    }

    .footer-widgets {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-widgets .block.footer-widget-4 {
        order: 1;
        text-align: center;
        margin-bottom: 0 !important;
    }

    .footer-widgets .block.footer-widget-1 {
        order: 2;
    }

    .footer-widgets .footer-widget-1 {
        width: 100%
    }

    .footer-widgets .klaviyo_field_group {
        justify-content: center;
    }

    .d-ship-to {
        justify-content: center;
        font-size: 14px;
        text-transform: none;
        font-family: 'FilsonPro';
        font-weight: normal;
        margin-top: 20px;
    }


    .footer-widgets .d-ship-to img {
        max-width: 67px !important;
        /* margin: 0 auto !important; */
        display: inline-block !important;
        /* width: auto !important; */
        margin: 0px 15px 0 !important;
    }

    .site-footer {
        padding-top: 60px;
        margin-top: -25px;
        padding-bottom: 240px;
    }

    .site-footer p.copyright {
        display: block;
        width: 100%;
        text-align: center;
        order: 2;
        margin-top: 20px;
    }

    .footer-widgets .widget_klaviyo_emailsignup_widget form p {
        font-family: "congenial";
        font-weight: bold;
        margin-bottom: 15px !important;
    }

    .site-footer .site-info {
        flex-wrap: wrap;
        left: 0;
        position: absolute;
        bottom: 20px;
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #custom_html-2 {
        position: absolute;
        bottom: 107px;
        left: 0;
        width: 100%;
    }

    .wpautoterms-footer a {
        padding: 0 10px;
    }

    .widget_nav_menu .menu {
        display: none;
    }

    .footer-widgets span.gamma.widget-title {
        text-transform: none;
        font-size: 15px !important;
        margin-bottom: 5px;
    }

    .site-footer .widget_nav_menu {

        border-bottom: solid 1px #fff;
        padding-top: 15px;
    }

    .footer-widgets .block.footer-widget-1 {
        margin-bottom: 0;
    }

    .footer-widgets .widget_nav_menu.active span.gamma.widget-title:after {
        content: "\f106";
    }

    .footer-widgets span.gamma.widget-title:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        line-height: inherit;
        vertical-align: baseline;
        content: "\f107";
        margin-left: 1em;
        float: right;
        opacity: 1;
        font-size: 25px;
    }

    .footer-menu {
        border: none;
        margin-top: 10px;
    }

    .footer-widgets .block.footer-widget-2 {
        margin-bottom: 0;
    }

    .footer-widgets .block.footer-widget-3 {
        margin-bottom: 0;
    }

    .site-footer .wpautoterms-footer {
        line-height: 22px;
        width: auto;
        width: 100%;
        text-align: center;
        order: 1;
    }

    .site-info p.copyright,
    .site-info .wpautoterms-footer a {
        font-size: 12px !important;
        font-family: 'FilsonPro';
        font-weight: normal;
    }

    .site-info .wpautoterms-footer a {
        text-decoration: underline;
    }

    .footer-widgets .block.footer-widget-2 {
        order: 3;
    }

    .footer-widgets .block.footer-widget-3 {
        order: 4;
    }

    div#banner p {
        line-height: 22px !important;
        margin-bottom: 5px !important;
    }

    body div#banner a.ubtn-link .ubtn {
        width: 200px !important;
    }

    .single-product button.single_add_to_cart_button.button.alt {
        padding-left: 20px;
    }

    .single-product .cart-inner svg {
        position: absolute;
        left: 35px;
        top: 18px;
    }

    div#banner .col-max-w .wpb_wrapper {
        text-align: center;
    }

    .sub-product-list a.button.product_type_subscription.add_to_cart_button {
        height: 49px !important;
    }

    .year-bage {
        position: absolute;
        top: -20px;
        color: #ee324d;
        font-size: 14px;
        line-height: 20px;
        right: -29px;
    }

    div#banner .d-btn-rg.ubtn-ctn-left {
        float: none;
        display: inline-block;
        margin: 10px 5px !important;
    }

    div#banner h2 {
        padding-top: 0 !important;
    }

    div#banner h2,
    div#banner p {
        padding-right: 0;
        text-align: center !important;
    }

    div#banner {
        padding-left: 0;
        padding-right: 0;
    }

    .banner-mobile {
        display: block !important;

        margin-left: -45px;
        margin-right: -45px;
    }

    div#d-baking-kit:before {
        display: none;
    }

    div#banner .upb_row_bg.vcpb-default {
        background: unset !important;
    }

    .col-max-w {
        max-width: 100% !important;
    }

    div#banner a.ubtn-link {
        margin-top: 0 !important;
    }

    .limit-height-css img,
    div#d-baking-kit img {
        max-height: none !important;
        width: auto;
    }

    .d-btn-rg.ubtn-ctn-left {
        margin-top: 20px !important;
        margin-bottom: 0 !important;
    }

    .d-btn-rg a.ubtn-link .ubtn {
        height: 50px !important;
    }

    div#banner a.ubtn-link .ubtn {
        margin: 0;
        background: #fff !important;
        font-size: 12pt !important;
        color: #ee324d !important;
        border-color: #ee324d !important;
        border-color: #ee324d !important;
        width: auto !important;
        padding-left: 10px !important;
        padding-right: 11px !important;
    }

    #kla_embed_klaviyo_emailsignup_widget-2 {
        margin-bottom: 0;
    }

    .footer-widgets .widget li a {
        font-family: 'FilsonPro';
        font-weight: normal;
        text-transform: none;
    }

    .footer-widgets span.gamma.widget-title {
        font-family: 'FilsonPro';
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    span.d-h-mb {
        display: none;
    }

    a.showcoupon,
    a.showlogin {
        background: #0aa8aa;
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        text-decoration: none !important;
        float: none;
        position: static;
        right: 28px;
        top: 0;
        transform: translateY(0);
        display: block;
        text-align: center;
        width: 100%;
    }

    .woocommerce-form-coupon-toggle .woocommerce-info {
        text-align: left !important;
    }

    .woocommerce-shipping-fields {
        margin-top: 30px;
    }

    p#billing_address_2_field,
    p#shipping_address_2_field,
    p#billing_state_field,
    p#shipping_state_field,
    p#billing_city_field,
    p#shipping_city_field,
    p#billing_postcode_field,
    p#shipping_postcode_field {
        width: 100%;
    }

    .cart-shipping.d-cart-subtotal h4 {
        max-width: 100px;
    }

    .yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product h3,
    .yith-wacp-content .star-rating {
        margin-bottom: 0;
    }

    .cart-shipping.d-cart-subtotal h4 span {
        line-height: 15px !important;
        display: block;
    }

    .actions {
        z-index: 9999;
    }
}

@media (max-width: 530px) {
    .yith-wacp-content table.cart-list tr {
        display: table-row !important;
        width: 100%;
    }
}

.d-bar p b {
    margin-top: 0 !important;
}

.col-full.top-bar {
    justify-content: flex-end !important;
}

nav.secondary-navigation {
    margin-bottom: 0;
}

.col-full.top-bar {
    margin-bottom: 0px;
}

nav.secondary-navigation li a {
    font-size: 11px;
    color: #fff !important;
    font-family: congenial;
    padding: 0 10px !important;
}

.member a.sub {
    margin-right: 0 !important;
}

p.form-row.woocommerce-SavedPaymentMethods-saveNew input#wc-stripe-new-payment-method {
    display: inline-block !important;
    height: auto !important;
}

a.vc_gitem-link {
    text-decoration: none !important;
}

.d-bar {
    z-index: 99;
    position: relative;
}

.star-rating span:before {
    color: #f9a72d !important;
}

.single .aiosrs-rating-wrap,
div#snippet-box {
    display: none;
}

.vc_toggle_content span,
div#tab-description p span {
    font-weight: inherit !important;
}

.vc_toggle_content ul li {
    font-family: "congenial-light";
    font-weight: 500 !important;
}

.vc_grid.vc_row.vc_grid-gutter-35px .vc_pageable-slide-wrapper:after,
.vc_grid.vc_row.vc_grid-gutter-35px .vc_pageable-slide-wrapper:before {
    display: none;
}

input#username,
input#reg_email,
input#password,
input#user_login,
textarea.wpcf7-form-control.wpcf7-textarea,
input#review_comment,
.input-container.half input,
p#review_author_field input,
p#review_email_field input,
#respond .comment-form-author input,
#respond .comment-form-email input,
#respond .comment-form-url input,
input.wpcf7-form-control.wpcf7-text.wpcf7-email,
.input-container input::placeholder,
.input-container textarea::placeholder,
.woocommerce-page #reviews .form-contribution input[type="text"]::placeholder,
.woocommerce-page #reviews .form-contribution input[type="email"]::placeholder,
.woocommerce-page #reviews .form-contribution textarea::placeholder,
.woocommerce .form-row input,
.form-row select,
.select2-container--default .select2-selection--single {
    text-transform: none !important;
}

textarea#review_comment {
    text-transform: none !important;
}

textarea#review_comment,
textarea#comment {
    font-family: inherit;
    font-weight: 700;
}

form.woocommerce-ResetPassword.lost_reset_password p.form-row {
    width: 100%;
}

.member a {
    margin-right: 9px;
}

.vbox-container img {
    margin: 0 auto;
}

.product-type-subscription button.single_add_to_cart_button.button.alt {
    width: 220px;
    padding-left: 0;
}

.product-type-subscription i.fas.fa-shopping-cart {
    margin-right: 10px;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
    width: auto;
}

.woocommerce-LoopProduct-link .tinv-wraper.tinv-wishlist {
    display: none !important;
    visibility: hidden !important;
}

/*.vc_grid-filter .vc_grid-filter-item {
    width: 250px;
}
.vc_grid-filter .vc_grid-filter-item span {
    font-size: 22px;
}*/
@media (max-width: 991px) {

    .col-full.top-bar .secondary-navigation,
    .memberd,
    ul#site-header-cartd {
        display: non !important;
    }

    #menu-mobile-menu button.dropdown-toggle:before {
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-family: "font awesome 5 free";
        font-weight: 900;
        line-height: inherit;
        vertical-align: baseline;
        content: "";
        margin-left: 1em;
        font-variant: normal;
        margin: 0 !important;
    }

    .handheld-navigation #menu-mobile-menu .dropdown-toggle {
        padding: 0;
        position: absolute;
        line-height: 38px;
        right: -5px;
    }

    #menu-mobile-menu ul.sub-menu {
        margin: 0;
    }

    #menu-mobile-menu ul.sub-menu li a {
        padding: 5px 0;
    }
}

@media (max-width: 768px) {
    .wpls-fix-box img {
        max-width: 150px !important;
    }

    span.lock-acc {
        width: 20px;
        height: 20px;
    }

    a.btn-action-myaccount {
        text-align: center;
        display: block;
        width: 100%;
    }

    button.menu-toggle {
        background: 0 0 !important;
    }

    .mc4wp-form input[type="email"] {
        font-size: 12px !important;
        height: 38px !important;
        border: none !important;
        border-top-right-radius: 15px !important;
        border-top-left-radius: 15px !important;
        border-bottom-left-radius: 17px !important;
        border-bottom-right-radius: 17px !important;
    }

    .mc4wp-form input[type="submit"] {
        position: absolute;
        right: 15px;
        top: 6px !important;
        border: solid 3px #0aa8aa;
        font-size: 12px !important;
        line-height: 23px;
        width: 51px !important;
        height: 27px !important;
        border-top-right-radius: 15px !important;
        border-top-left-radius: 15px !important;
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
        color: #0aa8aa;
        text-transform: uppercase;
        padding: 0;
        background: 0 0;
    }

    div#d-baking-kit .upb_row_bg {
        background: unset !important;
    }

    #d-baking-kit,
    .home div#banner {
        padding-top: 0 !important;
    }

    .footer-widgets {
        padding-top: 0px;
    }

    .d-signup-mb p {
        font-size: 8px !important;
        line-height: 12px !important;
    }

    .testimonial .des .photo {
        max-width: 50px;
    }

    img.quote-photo {
        max-width: 55px;
    }

    .quote p {
        font-size: 10px !important;
        line-height: 15px;
    }

    .d-signup-mb .upb_row_bg {
        background-position: 70%;
    }

    div#banner {
        overflow-x: hidden;
    }

    div#d-bg-css>div {
        right: -15%;
        position: relative;
        bottom: -6px;
    }

    .price ins {
        font-size: 25px !important;
        line-height: 0px !important;
    }

    span.d-sub-title {
        font-size: 38px !important;
        line-height: 55px !important;
    }

    .caculate-price {
        font-size: 12px !important;
        width: 100%;
        padding-bottom: 15px;
    }

    .d-ready-scc img.vc_single_image-img {
        max-width: 100px;
    }

    .d-ready-scc h3 {
        font-size: 28px !important;
    }

    .d-ready-scc h5 {
        padding: 0 !important;
        font-size: 19px !important;
    }

    .d-ready-scc .vc_column_container>.vc_column-inner {
        padding-left: 10px;
        padding-right: 10px;
    }

    .single-product main#main {
        margin-top: 0;
    }

    .single-product .summary.entry-summary p.price del {
        font-size: 16px;
        line-height: 45px;
    }

    button.single_add_to_cart_button.button.alt {
        width: 250px;
        height: 55px;
        font-size: 27px;
        padding: 0;
        line-height: 55px;
    }

    .single-product div.product {
        padding-bottom: 0;
        margin: 0 auto 0;
    }

    div.related {
        padding: 50px 0;
    }

    .inner-section h3 {
        font-size: 34px !important;
        line-height: 41px !important;
    }

    ul.tabs.wc-tabs {
        margin-bottom: 20px;
    }

    p#subscribe_to_replies_field {
        display: none !important;
        height: 0 !important;
        overflow: hidden;
    }

    .banner-cat {
        padding-top: 100px !important;
        padding-bottom: 15px !important;
        margin-top: -80px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 71% -1%;
    }

    div#primary.right_sidebarcss main#main article p {
        margin-bottom: 0;
    }

    div#primary.right_sidebarcss main#main article {
        padding-bottom: 10px;
    }

    div#primary.right_sidebarcss nav#post-navigation {
        padding-bottom: 0;
    }

    .sign-up img {
        max-width: 90px;
    }

    .sign-up h3 {
        font-size: 40px !important;
        line-height: 48px !important;
        color: #fff;
        padding-top: 40px;
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .widget.gift-section-css img {
        padding-top: 0;
    }

    .single-post .post-meta-bottom {
        margin-top: 20px;
    }

    table.shop_table.shop_table_responsive th {
        color: #4d4d4f;
    }

    .woocommerce-info {
        margin-bottom: 25px;
    }

    .woocommerce-form-coupon-toggle a.showcoupon {
        position: static;
        transform: unset;
        text-align: center;
        display: inline-block;
        float: none;
    }

    .woocommerce-form-coupon-toggle .woocommerce-info {
        text-align: center;
    }

    div#respond {
        padding-top: 0;
        background: unset !important;
    }
}

@media (max-width: 600px) {

    .single #respond .comment-form-author,
    .single #respond .comment-form-email,
    .single #respond .comment-form-url {
        width: 100% !important;
    }

    .single #respond .comment-form-author input,
    .single #respond .comment-form-email input,
    .single #respond .comment-form-url input,
    .single #respond textarea {
        width: 100%;
        height: 49px;
        border: solid 2px #b8d656;
        font-size: 22px !important;
        line-height: 21px !important;
        font-family: smoothy;
        text-transform: uppercase !important;
    }

    p#review_author_field label,
    p#review_email_field label,
    p.comment-form-author label,
    p.comment-form-email label {
        left: 20px;
        top: 15px;
    }

    textarea#comment {
        height: 250px !important;
        padding-left: 15px !important;
        padding-top: 20px;
    }

    p.comment-form-cookies-consent label {
        position: relative;
        padding-left: 30px;
        font-weight: 400;
        font-size: 14px !important;
        font-family: smoothy;
        color: #b7b7b7;
        line-height: 21px;
    }

    p.comment-form-cookies-consent label:before {
        border: 2px solid #b8d656;
    }

    p.comment-form-cookies-consent label:after {
        border-right: 2px solid #b8d656;
        border-bottom: 2px solid #b8d656;
    }

    div#respond:after {
        display: none;
    }

    .sign-up {
        margin-top: 0;
    }

    .single-post .post-meta-bottom {
        display: none;
    }
}




body .vc_arrow-icon-arrow_03_right:before,
.slick-next:before {
    content: "\2192" !important;
}

body .vc_arrow-icon-arrow_03_left:before,
.slick-prev::before {
    content: "\2190" !important;
}

.site-info p.copyright,
.site-info .wpautoterms-footer a {
    font-size: 8px;
}

button.needsclick.go596865934.kl-private-reset-css-Xuajs1 {
    margin-top: 30px;
}

@media all and (max-width: 768px) {

    .footer-widgets .footer-widget-1 {
        width: 100% !important;
    }

    .footer-widgets .footer-widget-2 {
        width: 100% !important;
    }

    .footer-widgets .footer-widget-3 {
        width: 100% !important;
    }

    .footer-widgets .footer-widget-4 {
        width: 100% !important;
    }

    footer .footer-widgets .klaviyo_field_group {
        flex-direction: column;
    }

    footer .footer-widgets button.klaviyo_submit_button {
        transform: unset !important;
        position: absolute;
        margin: 10px auto;
        display: block;
        right: 0 !important;
        width: 27%;
        top: -8px;
    }

    footer .footer-widgets input#kla_email_klaviyo_emailsignup_widget-2 {
        width: 71% !important;
        min-width: unset;
        border-radius: 10px;
        text-align: left;
        display: block !important;
        float: left;
    }

    .footer-widgets input#kla_email_klaviyo_emailsignup_widget-2,
    .footer-widgets button.klaviyo_submit_button {
        border: solid transparent;
    }

    .footer-widgets input::placeholder {
        opacity: 1;
        color: #000;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    footer .footer-widgets.col-4 .block {
        flex-basis: 25%;
        flex-grow: 0;
    }
}

@media all and (max-width: 460px) {
    .wof-wheel .wof-close-icon svg {
        width: 40px;
    }

    button.needsclick.klaviyo-close-form.kl-private-reset-css-Xuajs1 {
        height: 40px !important;
        width: 40px !important;
    }

    button.needsclick.klaviyo-close-form.kl-private-reset-css-Xuajs1 svg {
        width: 40px;
        height: 40px;
    }
}

@media all and (min-width: 1025px) and (max-width: 1120px) {
    .footer-widgets button.klaviyo_submit_button {
        font-size: 10px !important;
    }
}

/* start pricing table new styles */

#pricing-table .meta-sub {
    display: none;
}

#pricing-table .sub-product-list {
    justify-content: center;
}

#pricing-table .sub-product-list .product.type-product {
    background-image: none;
    border: solid 2px #09989A;
    border-radius: 15px !important;
    display: flex;
    flex-direction: column;
    height: min-content;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 60px;
    width: min-content;
    padding: 20px 25px 15px;
}

#pricing-table .sub-product-list .product.type-product:hover {
    background-image: none;
}

#pricing-table .sub-product-list .product.type-product:hover * {
    color: #333334;
}

#pricing-table .sub-product-list .product.type-product:hover span.sub-save-price div:last-child .woocommerce-Price-amount {
    color: #09989A;
}

#pricing-table .year-bage {
    top: -42px;
    font-family: 'FilsonPro';
    font-weight: bold !important;
    line-height: 17px;
    width: 240px;
    left: -10px;
}

#pricing-table .year-bage span,
.year-bage span:hover {
    line-height: 17px;
    transform: none;
    color: #ee324d !important;
}

#pricing-table .year-bage span br,
.year-bage span:hover br {
    content: "";
}

#pricing-table .year-bage span br:after,
.year-bage span:hover br:after {
    content: " ";
}

#pricing-table .year-bage svg {
    display: none;
}

#pricing-table .year-bage:after {
    content: url(https://wordpress-460252-1458808.cloudwaysapps.com/wp-content/uploads/2022/03/best-value-arrow.svg);
    right: 10px;
    position: absolute;
}

#pricing-table .sub-product-list span.sub-save-price {
    position: relative;
    font-size: 16px;
    text-transform: capitalize;
    width: auto;
    padding: 0;
    height: auto;
    top: 0;
    line-height: 1.2;
    font-family: filson-pro, sans-serif;
    font-weight: 600 !important;
    font-style: normal;
    margin-bottom: 20px;
    flex-direction: row;
}

#pricing-table .sub-product-list .product.type-product span.sub-save-price *,
#pricing-table .sub-product-list .product.type-product:hover span.sub-save-price * {
    color: #09989A !important;
}

#pricing-table span.sub-save-price {
    background: transparent !important;
}

#pricing-table span.sub-save-price div {
    display: inline-block;
    width: auto;
    padding: 0 0 0 4px;
    font-weight: 600 !important;
    order: 3;
}

#pricing-table span.sub-save-price div:last-child {
    color: transparent;
}

#pricing-table .sub-product-list a.button.product_type_subscription.add_to_cart_button {
    width: max-content;
    margin: 0 auto;
    background: #ee324d;
    color: #fff;
    text-transform: capitalize !important;
    border: none;
    font-size: 15px;
    font-family: filson-pro, sans-serif;
    height: auto;
    padding: 11px 26px;
    border-radius: 6px;
    order: 4;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#pricing-table .sub-product-list .product.type-product:hover a.button.product_type_subscription.add_to_cart_button {
    background: #FF3451 !important;
    border: none !important;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#pricing-table .sub-product-list .product.type-product:hover a.button.product_type_subscription.add_to_cart_button span {
    color: #fff !important;
}

#pricing-table .sub-product-list h2 {
    font-size: 18px;
    line-height: 36px;
    color: #ffffff !important;
    background-color: #09989A;
    border-radius: 18px;
    width: 140px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -38px;
    margin-bottom: 20px;
    font-family: filson-pro, sans-serif;
    font-weight: 700;
    display: block;
    text-transform: capitalize !important;
}

#pricing-table .sub-product-list h4 {
    font-size: 33px;
    line-height: 33px;
    color: #333334;
    margin-bottom: 0;
    font-family: filson-pro, sans-serif;
    font-weight: 900;
}

#pricing-table .sub-product-list span.per-month {
    font-size: 16px;
    color: #333334;
    font-family: filson-pro, sans-serif;
    font-weight: 600;
    margin-top: 0;
    line-height: 14px;
    text-transform: lowercase !important;
}

#pricing-table .sub-product-list span.sub-total {
    font-size: 16px;
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    color: #333334;
    line-height: 50px;
}

.free-shipping-usa {
    max-width: 512px;
    margin: auto;
    text-align: center;
}

.free-shipping-usa h4 {
    font-size: 18px !important;
    line-height: 21px !important;
    font-family: filson-pro, sans-serif;
    font-weight: 600;
    color: #EE324D;
}

.free-shipping-usa p {
    font-size: 14px;
    line-height: 21px;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    margin-top: 30px;
}

.free-shipping-usa img {
    display: inline-block;
    vertical-align: sub;
}

.select-subscription {
    text-align: center;
}

.select-subscription h2 {
    font-size: 33px;
    line-height: 41px;
    font-family: filson-pro, sans-serif;
    font-weight: 800;
    color: #EE324D;
    margin-bottom: 0;
}

.select-subscription p {
    font-size: 20px;
    line-height: 42px;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    margin-top: 0;
}

@media (max-width: 991px) {
    #pricing-table .sub-product-list h2 {
        margin-bottom: 20px !important;
        font-size: 18px !important;
        line-height: 36px !important;
        margin-top: -38px !important;
    }

    #pricing-table .sub-product-list h4 {
        font-size: 33px !important;
        line-height: 33px !important;
    }

    #pricing-table .sub-product-list .product.type-product:hover {
        background-image: none !important;
    }
}

@media (max-width: 768px) {
    #pricing-table .sub-product-list .product.type-product {
        margin-right: auto;
        margin-left: auto;
        padding: 20px 35px 15px;
        margin-top: 50px;
    }

    #pricing-table .year-bage {
        right: 0px !important;
    }

    #pricing-table .sub-product-list a.button.product_type_subscription.add_to_cart_button {
        height: auto !important;
        padding: 6px 20px;
    }

    #pricing-table .subscription-product-list-mobile .tab button {
        font-size: 14px;
        line-height: 1.2;
        padding: 5px 12px;
        font-family: filson-pro, sans-serif;
        font-weight: 600;
        text-transform: capitalize !important;
        margin: 10px 1px 0;
        color: #9A9A9A;
        background-color: #fff !important;
        border-bottom: solid 2px #9A9A9A;
    }

    #pricing-table .subscription-product-list-mobile .tab button.active {
        background-color: #fff !important;
        color: #ee324d !important;
        border-bottom: solid 2px;
    }

    .select-subscription h2 {
        font-size: 22px !important;
        line-height: 32px !important;
        margin-bottom: 0;
    }

    .select-subscription p {
        font-size: 16px !important;
        line-height: 25px !important;
        margin-top: 0;
    }
}

@media (max-width: 440px) {
    #pricing-table .subscription-product-list-mobile .tab button {
        padding: 5px;
    }
}

@media (max-width: 380px) {
    #pricing-table .subscription-product-list-mobile .tab button {
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    #pricing-table .subscription-product-list-mobile .tab button {
        padding: 5px 2px;
    }
}

@media (max-width: 340px) {
    #pricing-table .subscription-product-list-mobile .tab button {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    #pricing-table .subscription-product-list-mobile .tab button {
        font-size: 11px;
    }
}

/* finish pricing table new styles */

.popup-shop {
    display: none;
    font-family: 'FilsonPro';
    font-weight: normal;
}

.shop-heading-1 {
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    color: #EE324D;
    margin-bottom: 15px;
}

.shop-heading-2 {
    font-size: 40px;
    line-height: 32px;
    text-align: center;
    color: #0aa8aa
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .popup-shop {
        position: fixed;
        z-index: 999999999;
        background: #09989A;
        bottom: 0;
        left: 0;
        color: white;
        padding: 40px 40px 35px 40px;
        text-align: center;
        display: block;
    }

    .popup-shop .fa-times {
        margin-right: -20px;
        float: right;
        cursor: pointer;
        margin-top: -25px;
    }

    div#beacon-container {
        z-index: 99999 !important;
        position: relative;
    }

    .shop-heading-1 {
        text-align: left !important;
        font-family: 'FilsonPro';
        font-weight: 900;
        color: #EE324D;
        margin-bottom: 0;
        font-size: 25px !important;
        line-height: 30px !important;
    }

    .shop-heading-2 {
        text-align: left !important;
        font-family: 'FilsonPro';
        font-weight: normal;
        color: #EE324D !important;
        font-size: 25px !important;
        line-height: 29px !important;
    }
}

#customer_login .col-1 {
    width: 100% !important;
}