.sticky-button {
    position: fixed;
    z-index: 999;

    &__button {
        background-color: $white;
        border-radius: 100px;
        color: $new-red;
        display: flex;
        text-align: center;
        margin-left: 0;
        transition: 0.3s;
        font-family: $primary-font;
        font-size: 15px;
        font-weight: 800;
        height: 42px;
        justify-content: center;
        align-items: center;
        padding: 16px 30px;
        width: auto;

        @include tablet {
            padding: 0;
            width: 100%;
        }

        &:hover {
            font-weight: 500;
            opacity: 0.8;
            text-decoration: none;
            border: none !important;
        }
    }
}