/* COLORS */
$red: #ee324d;
$white: #ffffff;
$black: #000000;

$primary-black: #333334;
$primary-red: #EE324D;
$primary-green: #0AA8AA;
$primary-grey: #F8F8F8;
/** Colors **/
$new-red: #E52441;
$white: #ffffff;
$green-alert: #07989a;
$red-alert: #721c24;
$grey: #4D4D4F;
$grey-dark: #333334;
$green-aqua: #13989A;
$title-green: #09989A;
$green-dark: #0da8ab;
$new-green: #117E80;
$title-gray: #333334;
$title-orange: #EA542B;
$light-grey: #E0E0E0;
$light-grey-2: #E8E8E84D;
$light-grey-3: #E8E8E8;
$light-grey-4: #D6D6D6;
$light-grey-5: #BEBEBE;
$grey-light: #a0a0a0;
$border-line: #C1C1C1;
$pink: #FD9DEA;
$cream: #F7F4EF;
$purple: #5353E2;
$bordo: #A44F80;
$yellow: #FED55B;
$light-orange: #FFD64F;
$violet-bake: #7e2088;

/* FONTS */
$primary-font: 'FilsonPro', sans-serif;