/********************************
     	New Checkout Page
********************************/

.woocommerce-new-checkout {
	overflow: initial;

	&__backtocart {
		font-family: $primary-font;
		font-size: 14px;
		font-weight: 700;
		color: $light-grey-5;
		line-height: 18px;

		border-radius: 16px;
		border: 1.5px solid $light-grey-5;
		position: absolute;
		padding: 6px 19px 4px 38px;
		top: -62px;
		left: 0;

		@include mobile {
			display: block;
			font-size: 12px;
			font-weight: 500;
			color: #4D4D4F;
			border: 0;
			left: 22px;
			top: -54px;
			padding: 0 0 0 20px;
			max-width: 82px;
			z-index: 2;
		}

		&::before {
			content: '';
			background-image: url(images/checkout/back-to-cart.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			height: 20px;
			width: 20px;

			@include mobile {
				background-image: url(images/checkout/back-arrow.svg);
				left: 0;
			}
		}
	}

	&__page-title {
		display: none;

		@include mobile {
			display: block;

			font-size: 24px;
			line-height: 32px;
			font-weight: 700;
			font-family: $primary-font;
			color: $new-red;
			text-align: center;
			top: -50px;
			position: relative;

			width: 100%;
		}
	}

	.col-full {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-bottom: 10px !important;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		margin-top: 87px;
		width: 100%;
		max-width: 1088px;

		@include tablet {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 152px !important;
			width: 100%;
			max-width: 100%;
		}
	}

	.woocommerce {
		width: 100%;
	}

	.wc-amazon-checkout-message {

		// mobile
		@include mobile {
			padding: 10px 15px 0 !important;
		}

		// Amazon Pay Login
		.woocommerce-info {
			font-family: $primary-font;
			font-size: 13px;
			font-weight: 400;
			line-height: 18px;

			position: relative;
			background-color: transparent;
			color: $title-green;
			border: 1px solid $title-green;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 22px 13px;
			margin-bottom: 20px;
			width: 100%;

			@include mobile {
				gap: 20px;
			}

			a {
				color: $title-green !important;
			}

			&::after {
				content: '';
				display: block;
				background-image: url(images/checkout/check-icon.svg);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				left: -10px;
				top: 11px;
				height: 20px;
				width: 20px;
			}
		}

		// Amazon Pay Logout
		.wc-amazon-payments-advanced-info {
			display: flex;
			flex-direction: row-reverse !important;

			#pay_with_amazon {
				margin: 0 !important;

				@include mobile-xs {
					margin: auto !important;
				}
			}

			@include mobile-xs {
				font-size: 0 !important;
			}

			&::after {
				display: none !important;
			}
		}
	}

	// Error message / Notice message
	.woocommerce-NoticeGroup-checkout,
	.wc_coupon_message_wrap {
		//grid-column: 1;
		grid-column: none;
	}

	.woo-custom-error {
		position: relative;
		border: 1px solid $new-red;
		border-radius: 8px;
		padding: 10px 22px 13px;
		margin-bottom: 30px;

		@include mobile {
			width: calc(100% - 30px);
			margin: 0 auto 30px;
		}

		&::before {
			content: '';
			background-image: url(images/checkout/error-icon.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -10px;
			top: calc(50% - 10px);
			height: 20px;
			width: 20px;
		}

		.woocommerce-error-close {
			cursor: pointer;
			position: absolute;
			font-family: $primary-font !important;
			font-size: 13px;
			font-weight: 700;
			color: $new-red !important;
			line-height: 18px;
			right: 22px;
			bottom: 13px;
		}

		// Fix some cases
		ul {
			background-color: $white;
			border-left: 0;
			padding-left: 0;
			margin-bottom: 0;
			padding-bottom: 0;
			border: 0 !important;
			padding: 0 !important;
			width: 100% !important;

			&::before {
				display: none !important;
			}

			li {
				font-family: $primary-font;
				font-size: 13px;
				font-weight: 400;
				color: $new-red;
				line-height: 18px;

				&:before {
					content: "- ";
				}
			}
		}
	}

	.woocommerce-error {
		position: relative;
		border: 1px solid $new-red;
		border-radius: 8px;
		padding: 10px 22px 13px;
		margin-bottom: 30px;
		background-color: $white;

		@include mobile {
			width: calc(100% - 30px);
			margin: 0 auto 30px;
		}

		&::before {
			content: '';
			background-image: url(images/checkout/error-icon.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -10px;
			display: block;
			top: calc(50% - 10px);
			height: 20px;
			width: 20px;
		}

		li {
			font-family: $primary-font;
			font-size: 13px;
			font-weight: 400;
			color: $new-red;
			line-height: 18px;

			&:before {
				content: "- ";
			}
		}

		&__login-link {
			color: $new-red !important;
			display: inline-block;
			opacity: 1 !important;
		}
	}

	.woocommerce-message {
		background-color: $white;
		position: relative;
		border: 1px solid $green-alert;
		border-left: 1px solid $green-alert;
		border-radius: 8px;
		padding: 10px 22px 13px;
		margin-bottom: 30px;

		font-family: $primary-font;
		font-size: 13px;
		font-weight: 700;
		color: $green-alert;
		line-height: 18px;

		@include mobile {
			width: calc(100% - 30px);
			margin: 0 auto 30px;
		}

		&::before {
			content: '';
			background-image: url(images/checkout/check-icon.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			display: block;
			left: -10px;
			top: calc(50% - 10px);
			height: 20px;
			width: 20px;
		}

		.restore-item {
			display: inline-block;
			color: #868688;
		}
	}


	.col2-set {
		grid-column: 1;
		float: none;
		width: 660px;
		max-width: 660px;

		// tablet
		@include tablet {
			margin-right: 0;
			width: 100%;
			max-width: 530px;
		}

		@media (min-width: 769px) and (max-width: 920px) {
			max-width: 445px;
		}

		// mobile
		@include mobile {
			padding-left: 15px;
			padding-right: 15px;
			max-width: 660px;
		}
	}

	.woocomerce-custom-sidebar-checkout {
		position: relative !important;
		display: grid;
		margin-bottom: 0;
		justify-content: space-between;

		&::before {
			display: none;
		}

		@include tablet {
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-around;
		}

		@include mobile {
			display: flex;
			align-items: center;
			gap: 0;
		}
	}

	/* Payment Methods */
	.ppc-button-wrapper {
		#ppc-button {
			display: block !important;
		}
	}

	.wc-amazon-payments-advanced-populated {
		display: block;
		position: relative;
		padding-top: 10px;
		height: auto;
		width: 100%;

		h3 {
			font: normal normal normal 22px/32px $primary-font;
			text-align: left;
			letter-spacing: 0px;
			color: $primary-black;
			text-transform: capitalize;
			align-items: baseline;
			border-bottom: 2px solid #0aa8aa;
			padding-bottom: 12px;
			margin-bottom: 20px;
			width: 100%;

			a {
				text-decoration: underline;
				font: normal normal normal 12px $primary-font;
				letter-spacing: 0px;
				color: $primary-black;
				cursor: pointer;
				padding-top: 10px;
			}
		}

		.shipping_address_display,
		.payment_method_display {
			font: normal normal normal 15px/22px $primary-font;
			width: 100%;
		}
	}

	/* Login Form */
	.nm-login-form {
		background: $primary-grey;
		border-radius: 8px;
		margin-bottom: 15px;
		position: relative;
		padding: 21px 22px;
		width: 100%;
		z-index: 10;

		// mobile
		@include tablet {
			margin-bottom: 35px;
		}

		&.complete {
			svg {
				width: 24px;
				height: 24px;
			}

			&::before {
				content: '';
				background-image: url(images/checkout/check-icon.svg);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				left: -10px;
				top: 26px;
				height: 20px;
				width: 20px;
			}
		}

		&__title {
			font: normal normal 500 22px/32px $primary-font, sans-serif;
			text-align: left;
			letter-spacing: 0px;
			color: $primary-black;
			text-transform: capitalize;
			padding-bottom: 0;
			margin-bottom: 30px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		&__cta {
			display: flex;
			cursor: pointer;
			justify-content: space-between;
			padding: 0;
			transition: all 0.3s ease;

			&.active {
				transform: rotateX(180deg) rotateY(0deg) rotateZ(-45deg);
				-webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(-45deg);
				-moz-transform: rotateX(180deg) rotateY(0deg) rotateZ(-45deg);
				-o-transform: rotateX(180deg) rotateY(0deg) rotateZ(-45deg);
				-ms-transform: rotateX(180deg) rotateY(0deg) rotateZ(-45deg);
				top: 0px;
				transition: all 0.3s ease;
			}
		}

		&__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		&__content p {
			margin-bottom: 0;
			font: normal normal 500 12px/12px $primary-font;
			letter-spacing: 0px;
			color: $primary-black;

			// mobile
			@media (max-width: 1024px) {
				display: none;
			}
		}

		&__user-profile {
			width: 42px;
			height: 42px;
			background-color: $white;
			border-radius: 50%;
			margin-right: 18.6px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__content,
		&__content a {
			font: normal normal 500 14px/20px $primary-font;
			display: flex;
			align-items: center;
			letter-spacing: 0px;
			color: $primary-black;
		}

		&__user-data {
			font: normal normal 500 14px/20px $primary-font;
			display: flex;
			align-items: center;
			letter-spacing: 0px;
			color: $primary-black;
			text-decoration: none !important;
		}
	}

	/* Login Form */
	.woocommerce-form-login,
	.woocommerce-form-register {

		&__row {
			display: flex;
			justify-content: space-between;

			@include mobile {
				flex-direction: column;
			}
		}

		.woocommerce-form-row {
			margin-right: 0;
			margin-bottom: 15px;
			width: 48.444444%;

			@include mobile {
				width: 100% !important;
			}
		}

		.woocommerce-form__label {
			font-family: $primary-font;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black !important;
		}

		.nm-login-form-forgot-password {
			font-family: $primary-font;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black !important;
			text-decoration: underline;
		}

		&__title {
			font-family: $primary-font;
			font-weight: 500;
			font-size: 18px;
			line-height: 32px;
			color: $primary-black;
			margin-bottom: 10px;
		}

		&__row-2 {
			display: flex;
			align-items: center;
			gap: 26px;
			margin-bottom: 20px;
		}

		&__label {
			font-family: $primary-font;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black !important;
			margin-bottom: 5px;
		}

		&__input {
			background: $white;
			border: none;
			border-radius: 8px;
			box-shadow: none;
			text-align: left;
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black;
			letter-spacing: 0.14px;
			padding: 8.6px !important;
			text-align: left;
			margin: 0;
			height: 35px;
			width: 100%;
		}

		&__input--submit {
			background: $new-red;
			border-radius: 4px !important;
			display: inline-block;
			color: $white;
			font-size: 15px !important;
			font-weight: 700;
			font-family: $primary-font;
			height: 37px;
			line-height: 25px;
			padding-top: 2px;
			padding-bottom: 0;
			width: 100% !important;
			margin: 12px auto 44px !important;
			float: none;
			clear: both;
			min-width: 200px !important;

			&:hover {
				background: #cc1a34;
			}
		}

		&__new-customer-row {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-start;
			width: 46%;

			@include mobile {
				align-items: center;
				margin-bottom: 20px;
				width: 100% !important;
			}
		}

		&__new-customer {
			font-family: $primary-font;
			font-size: 18px !important;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
			color: $primary-black;

			@include mobile {
				text-align: center;
			}
		}

		&__new-customer-change {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			&--guest {
				align-items: center;
			}

			@include mobile {
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}

		hr {
			margin: 1.41575em 0;
		}

		&__join {
			font-family: $primary-font;
			font-size: 14px !important;
			font-weight: 400;
			line-height: 18px;
			text-align: left;
			color: $primary-black;
			margin-top: 5px;
			margin-bottom: 0;

			@include mobile {
				text-align: center;
			}
		}

		&__cta-change {
			border-radius: 4px;
			border: 1.5px solid $new-red;
			background-color: transparent;

			color: $new-red;
			cursor: pointer;
			font-family: $primary-font;
			font-size: 15px;
			font-weight: 700;

			display: flex;
			justify-content: center;
			align-items: center;
			height: 37px;
			line-height: 25px;
			padding-top: 2px;
			padding-bottom: 0;
			width: 45%;

			@include mobile-sm {
				width: 100%;
			}
		}

		&__cta-change-3 {
			border-radius: 4px;
			border: 1.5px solid $new-red;
			background-color: transparent;

			color: $new-red;
			cursor: pointer;
			font-family: $primary-font;
			font-size: 15px;
			font-weight: 700;

			display: flex;
			justify-content: center;
			align-items: center;
			height: 37px;
			line-height: 25px;
			padding-top: 2px;
			padding-bottom: 0;
			width: 100%;
		}

		.nm-login-form-register {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;

			font-family: $primary-font;
			font-size: 14px !important;
			font-weight: 700;
			line-height: 18px;
			text-align: center;
			color: $primary-black;

			@include mobile {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 12px !important;
				flex-wrap: wrap;
				gap: 5px;
			}

			a {
				text-decoration: underline;

				&:hover {
					background: #cc1a34;
				}
			}
		}

		.text-danger {
			color: $new-red;
		}

		.text-success {
			color: $new-green;
		}
	}

	/* Sidebar Resume */
	.woocommerce-checkout-review-order {
		float: none;
		display: block;
		position: relative;
		margin-top: 0;
		width: 100% !important;
		max-width: 385.45px;
		grid-column: 2;
		z-index: 0;

		&.is-visible {
			visibility: visible !important;
			box-shadow: 0 0 5px 4px #eeeeee;
			position: fixed;
			overflow: scroll;
			top: 0;
			height: 100vh;
			z-index: 999;

			&::before {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: -1;
			}
		}

		// tablet 
		@include mobile {
			position: absolute;
			visibility: hidden;
			overflow: hidden;
			width: 100%;
			max-width: 100%;
			z-index: 999;
		}

		.checkout-collaterals {
			background-color: $primary-grey;
			padding: 21px 17px 23px;
			border-radius: 8px;
			position: sticky;
			top: 10px;
			width: 100%;

			@media (min-width: 768px) and (max-width: 920px) {
				max-width: 320px;
			}

			@include mobile {
				margin: 0 auto;
				max-width: 100%;
				padding: 23px 22px 50px 20px;
				top: 0;
				width: 100%;
				border-radius: 0;
			}

			&__title {
				font: normal normal 500 22px/32px $primary-font;
				color: $primary-black;
				position: relative;
				margin: 0 0 32px;
				top: 0;
				text-align: left;
				width: 100% !important;

				&::after {
					content: '';
					display: none;
					cursor: pointer;
					border-left: 2px solid $primary-black !important;
					border-right: 0 !important;
					border-bottom: 2px solid $primary-black !important;
					transform: rotate(136deg);
					position: absolute;
					right: 0;
					top: 13px;
					height: 16px !important;
					width: 16px !important;

					// tablet
					@include mobile {
						display: block;
					}
				}

				// mobile
				@media (max-width: 1024px) {
					position: relative;
					top: 0;
				}
			}

			.continue-shopping {
				background-color: $white !important;
				border-radius: 4px;
				border: 1px solid $primary-black;
				color: $primary-black !important;
				display: block !important;
				line-height: 25px;
				font-size: 14px !important;
				font-weight: 400 !important;
				font-family: $primary-font;
				padding: 6px !important;
				text-transform: capitalize;
				margin: 0;
				margin-top: 8px;
			}

			.woocommerce-checkout-review-order-table {
				float: none;
				width: 100%;

				.form-coupon-checkout {
					padding: 10px;

					::placeholder {
						font: normal normal 600 14px/19px $primary-font;
						color: $primary-black !important;
						opacity: 1;
					}

					::-webkit-input-placeholder {
						font: normal normal 600 14px/19px $primary-font;
						color: $primary-black !important;
						opacity: 1;
					}

					:-ms-input-placeholder {
						font: normal normal 600 14px/19px $primary-font;
						color: $primary-black !important;
						opacity: 1;
					}

					.coupon {
						background: transparent;
						display: flex !important;
						padding-top: 0;
					}

					input#coupon_code {
						border: 0 !important;
						background-color: $primary-grey !important;
						margin-right: 8px !important;
						height: 41px;
						border: solid 1px $primary-grey;
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
						box-shadow: none !important;
						font: normal normal 500 14px/19px $primary-font;
						width: 100%;
						max-width: 100% !important;
						min-width: 140px !important;
						display: block;
					}

					.button {
						font-family: $primary-font;
						background-color: transparent !important;
						border: 2px solid #4d4d4f;
						border-radius: 8px !important;
						padding: 8px 0px !important;
						font-weight: 700;
						line-height: 16px;
						font-size: 14px;
						color: #4d4d4f;
						width: 80px;
					}
				}

				.wc-proceed-to-checkout {
					&__link {
						cursor: normal;
						text-align: center;
						text-decoration: underline;
						font: normal normal normal 14px/18px $primary-font;
						letter-spacing: 0px;
						color: $primary-black;
						margin: 0 auto 22px;
						width: 100%;
					}

					.checkout-button {
						font-size: 15px !important;
						background: $new-red !important;
						color: $white !important;
						font-weight: 700 !important;
						height: 39px;
						line-height: 24px;
						font-family: $primary-font !important;
						padding-top: 2px;
						padding-bottom: 0;
						width: 100% !important;
						margin: 0 auto !important;
						float: none;
						clear: both;
						min-width: 200px !important;

						border-top-right-radius: 4px !important;
						border-bottom-right-radius: 4px !important;
						border-top-left-radius: 4px !important;
						border-bottom-left-radius: 4px !important;
						text-transform: capitalize !important;
						display: flex !important;
						justify-content: center;
						align-items: center;

						&::after {
							display: none;
						}
					}
				}

				.form-coupon-loader {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(255, 255, 255, 0.9);
					z-index: 9999;
					display: none;

					span {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 3em;
						height: 3em;

						border: 4px solid rgba(0, 0, 0, 0.1);
						border-radius: 50%;
						border-left-color: $new-red;
						animation: spin 1s ease infinite;
					}
				}


				td,
				th {
					background-color: inherit !important;
					vertical-align: top;
					border: 0;
					padding: 0;
				}

				td.product-name {
					font-family: $primary-font;
					font-size: 14px;
					font-weight: 500;
					line-height: 21px;
					color: $primary-black;
					padding-bottom: 11px;
					width: 100%;
				}

				td.product-total,
				td.product-total .amount {
					font-family: $primary-font;
					font-size: 14px;
					font-weight: 500;
					line-height: 21px;
					color: $primary-black;
					text-align: right;

				}

				td.product-price-alt {
					text-align: right;

					bdi {
						font-family: $primary-font;
						font-size: 14px;
						font-weight: 500;
						line-height: 21px;
						color: $primary-black;
						text-align: right;
					}

					.subscription-details {
						display: none;
					}
				}

				td.resume_discount {
					font-family: $primary-font;
					font-size: 14px;
					font-weight: 500;
					line-height: 21px;
					color: $primary-black;
					padding-bottom: 11px;
				}

				td.resume_discount_value,
				td.resume_discount_value .amount {
					font-family: $primary-font;
					font-size: 14px;
					font-weight: 500;
					line-height: 21px;
					color: $primary-black;
					text-align: right;
				}

				.pwgc-total {
					position: relative;

					th {
						padding-left: 0;
						padding-right: 0;
					}

					td {
						padding-left: 0;
						padding-right: 0;
					}

					.pwgc-cart-subtitle {
						color: $primary-black !important;
						font-family: $primary-font !important;
						font-weight: 500 !important;
						font-size: 11px !important;
						line-height: 1.4em;
					}

					.pwgc-cart-subtitle .woocommerce-Price-amount {
						font-size: 14px !important;
					}
				}

				tr.shipping-cost {
					th {
						font-family: $primary-font;
						font-size: 14px;
						font-weight: 500;
						line-height: 21px;
						color: $primary-black;
						text-align: left;
						padding-left: 0 !important;
						padding-bottom: 11px;
					}

					td {
						font-family: $primary-font;
						font-size: 14px;
						font-weight: 500;
						line-height: 21px;
						color: $primary-black;
						text-align: right;
						padding-right: 0 !important;

						bdi {
							font-family: $primary-font;
							font-size: 14px;
							font-weight: 500;
							line-height: 21px;
							color: $primary-black;
							text-align: right;
							padding-right: 0 !important;
						}
					}
				}

				tr.cart-discount {
					position: relative;

					th {
						font-family: $primary-font;
						font-size: 14px;
						font-weight: 500;
						line-height: 21px;
						color: $primary-black;
						text-align: left;
						padding-left: 0 !important;
						padding-bottom: 11px;
					}

					td {
						text-align: right;

						.amount {
							font-family: $primary-font;
							font-size: 14px;
							font-weight: 500;
							line-height: 21px;
							color: $primary-black;
							text-align: right;
							padding-right: 0 !important;
						}

						.woocommerce-remove-coupon {
							position: absolute;
							font-family: $primary-font;
							font-size: 10px;
							color: $new-red;
							top: 25px;
							left: 70px;
						}
					}

					.pwgc-checkout-subtitle,
					.pwgc-checkout-subtitle .amount {
						font-family: $primary-font;
						font-size: 12px;
						font-weight: 500;
						line-height: 21px;
						color: $primary-black;
					}
				}

				.pwgc-remove-card {
					font-family: $primary-font;
					font-size: 12px;
					font-weight: 500;
					line-height: 21px;
					color: $primary-black;
					text-align: right;
				}

				tr.tax-total {
					th {
						font-family: $primary-font;
						font-size: 14px;
						font-weight: 500;
						line-height: 21px;
						color: $primary-black;
						text-align: left;
						padding-left: 0 !important;
						padding-bottom: 11px;
					}

					td {
						text-align: right;

						bdi {
							font-family: $primary-font;
							font-size: 14px;
							font-weight: 500;
							line-height: 21px;
							color: $primary-black;
							text-align: right;
							padding-right: 0 !important;
						}
					}
				}

				tr.order-total th,
				tr.order-total td {
					border-top: 2px solid $primary-black;
					vertical-align: middle;
				}

				.order-total th,
				.order-total .amount {
					font-family: $primary-font;
					font-size: 16px;
					font-weight: 700;
					line-height: 21px;
					color: $primary-black;
					padding: 20px 0;
				}

				/* Subscription Summary */
				.subscription-summary {

					&__table {
						margin: 30px 0;

						tbody th,
						tbody td {
							background-color: initial !important;
							font-family: $primary-font;
							font-size: 14px;
							font-weight: 500;
							line-height: 21px;
							color: $primary-black;
							border-bottom: 2px solid $primary-black;
							padding: 10px 0;

							.amount {
								font-family: $primary-font;
								font-size: 14px;
								font-weight: 500;
								line-height: 21px;
								color: $primary-black;
								padding: 0;
							}
						}
					}

					&__title {
						font-family: $primary-font;
						font-size: 15px;
						font-weight: 500;
						line-height: 21px;
						color: $primary-black;
						padding-bottom: 20px !important;
					}

					&__recurring-total {
						text-align: right;
						text-align: -webkit-right;

						strong {
							display: inline-block;
						}
					}
				}

			}

			// Safe
			&__safe {
				margin-top: 30px;
				width: 100%;
				display: flex;
				justify-content: center;
			}

		}

		// button checkout
		.checkout-button.button.alt {
			display: none !important;
		}

		// place order button
		.custom-sidebar-desktop {
			@include tablet {
				display: none;
			}
		}

		.awdr-you-saved-text {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			text-align: left;
			font-size: 10px;
			width: 112px;

			.amount {
				color: green !important;
			}

			bdi {
				color: green !important;
			}
		}

		#payment .place-order {
			background-color: $primary-grey;
			padding: 0 !important;
			margin: 0 !important;
		}

		#order_comments {
			font-family: $primary-font;
			font-size: 12px;
			background-color: $white;
		}

	}

	/* Form Coupon */
	.coupon-form-toggle {
		display: block;
		background: $white !important;
		border-radius: 10px;
		margin-bottom: 30px !important;
		transform: transition-duration(0.3s);
		overflow: hidden;
		height: 47px;
		width: 100%;

		&.active {
			height: auto;

			#nm-coupon-btn::before {
				transform: rotate(135deg);
			}
		}

		.form-coupon-checkout {
			display: inline-flex;
			padding: 0 10px 10px;
			margin-bottom: 0 !important;
			position: relative;
			width: 100%;

			.coupon {
				display: inline-flex !important;
				padding: 0;
				margin-bottom: 0 !important;
				position: relative;
				width: 100%;
			}

			input#coupon_code {
				border: 0 !important;
				background-color: $primary-grey !important;
				margin-right: 8px !important;
				height: 41px;
				border: solid 1px $primary-grey;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				box-shadow: none !important;
				font: normal normal 500 14px/19px "FilsonPro";
				width: 100%;
				max-width: 100% !important;
				min-width: 140px !important;
				display: block;

				@include mobile {
					background-color: $white !important;
				}

				&::placeholder {
					font: normal normal 600 14px/19px "FilsonPro";
					color: #333334 !important;
					opacity: 1;
				}

				&::-webkit-input-placeholder {
					font: normal normal 600 14px/19px "FilsonPro";
					color: #333334 !important;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					font: normal normal 600 14px/19px "FilsonPro";
					color: #333334 !important;
					opacity: 1;
				}
			}

			button[type="submit"] {
				font-family: "FilsonPro" !important;
				background-color: transparent !important;
				border: 2px solid #4d4d4f;
				border-radius: 8px !important;
				padding: 8px 0px !important;
				font-weight: 700 !important;
				font-size: 14px !important;
				line-height: 16px !important;
				margin-bottom: 0 !important;
				margin-top: 0 !important;
				text-align: center;
				color: #4d4d4f;
				text-align: center;
				width: 80px;
			}
		}

		#nm-gift-btn,
		#nm-coupon-btn {
			text-decoration: none;
			color: $primary-black;
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 700;
			line-height: 19px;
			text-transform: inherit;
			margin-bottom: 0;
			padding: 14px 11px;
			display: flex;
			background: $white;
			justify-content: space-between;
			align-items: center;
			flex-direction: row-reverse;
			border-radius: 10px;
			position: relative;
		}

		#nm-coupon-btn {
			background: transparent !important;

			&::before {
				content: "" !important;
				-webkit-appearance: none;
				-moz-appearance: none;
				background: transparent;
				border-left: 2px solid $primary-black !important;
				border-right: 0 !important;
				border-bottom: 2px solid $primary-black !important;
				border-top: 0 !important;
				position: relative;
				transform: rotate(-45deg);
				transition: all 0.3s ease-in-out;
				height: 10px !important;
				width: 10px !important;
				right: 2px !important;
			}

			.active::before {
				transform: rotate(136deg);
				top: 3px;
			}

			// table
			@include tablet {
				text-decoration: none;
				color: $primary-black;
				font-family: $primary-font;
				font-size: 14px;
				font-weight: 700;
				line-height: 19px;
				text-transform: inherit;
				margin-bottom: 0;
				padding: 14px 11px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row-reverse;
				border-radius: 10px;
			}
		}

		#pwgc-redeem-form {
			display: inline-flex;
			padding: 0 10px 10px;
			margin-bottom: 0 !important;
			position: relative;
			width: 100%;

			label {
				display: none;
			}

			#pwgc-redeem-button {
				height: 41px;
			}

			input[type="text"] {
				border: 0 !important;
				background-color: $primary-grey !important;
				margin-right: 8px !important;
				height: 41px;
				border: solid 1px $primary-grey;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				box-shadow: none !important;
				font: normal normal 500 14px/19px $primary-font !important;
				text-transform: initial;
				width: 100%;
				max-width: 100% !important;
				min-width: 140px !important;
				display: block;
			}

			input[type="submit"] {
				font-family: $primary-font !important;
				background-color: transparent !important;
				border: 2px solid #4d4d4f;
				border-radius: 8px !important;
				padding: 8px 0px !important;
				font-weight: 700 !important;
				font-size: 14px !important;
				line-height: 16px !important;
				margin-bottom: 0 !important;
				margin-top: 0 !important;
				text-align: center;
				color: #4d4d4f;
				width: 80px;
			}

			::placeholder {
				font: normal normal 600 14px/19px $primary-font;
				color: $primary-black !important;
				opacity: 1;
			}

			::-webkit-input-placeholder {
				font: normal normal 600 14px/19px $primary-font;
				color: $primary-black !important;
				opacity: 1;
			}

			:-ms-input-placeholder {
				font: normal normal 600 14px/19px $primary-font;
				color: $primary-black !important;
				opacity: 1;
			}

			#pwgc-redeem-error {
				color: $new-red;
				position: absolute;
				bottom: 7px;
				left: 18px;
				font-size: 11px;
			}
		}

		// table
		@include tablet {
			text-decoration: none;
			color: $primary-black;
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 700;
			line-height: 19px;
			text-transform: inherit;
			display: block;
			margin-bottom: 0;
			border-radius: 10px;
		}

	}

	/* Billing & Shipping */
	.col-0 {
		// inactive state
		height: 74px;
		overflow: hidden;
		opacity: 0.5;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);

		background-color: $primary-grey;
		padding: 21px 22px;
		border-radius: 8px;
		position: relative;
		margin-bottom: 15px;
		width: 100%;

		&.active {
			// active state
			height: auto !important;
			opacity: 1 !important;
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
			overflow: visible;
		}

		&.complete {
			overflow: visible;

			// complete state
			&::before {
				content: '';
				background-image: url(images/checkout/check-icon.svg);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				left: -10px;
				top: 26px;
				height: 20px;
				width: 20px;
			}
		}

		.form-row-first,
		.form-row-last {
			margin-right: 0;
			margin-bottom: 15px;
			width: 48.444444%;
		}

		.form-row-wide {
			clear: both;
			margin-bottom: 15px;
			position: relative;
			width: 100%;
		}

		.form-row {
			&.woocommerce-invalid {

				input,
				select {
					box-shadow: none;
					border: 1px solid $new-red;
				}

				input::placeholder {
					color: $new-red;
				}
			}

			&.woocommerce-validated {
				input {
					box-shadow: none;
				}
			}
		}

		.woocommerce_checkout_continue_order {
			background: $new-red;
			border-radius: 4px !important;
			display: inline-block;
			font-size: 15px !important;
			font-weight: 700;
			font-family: $primary-font;
			height: 39px;
			line-height: 25px;
			padding-top: 2px;
			padding-bottom: 0;
			width: 100% !important;
			margin: 0 auto !important;
			float: none;
			text-transform: capitalize;
			clear: both;
			min-width: 200px !important;

			&:hover {
				background: #cc1a34;
			}

			&:disabled,
			&[disabled] {
				background-color: #bebebe !important;
				cursor: not-allowed;
				opacity: 1 !important;
			}
		}

		.select2-selection--single {
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black;
			height: 35px;
		}

		.select2-selection__rendered {
			height: 35px;
			display: flex;
			align-items: center;
			margin-top: 0 !important;
		}

		.select2-selection__arrow {
			-webkit-appearance: none;
			-moz-appearance: none;
			background: $white;
			border-left: 1.5px solid $black !important;
			border-right: 0 !important;
			border-bottom: 1.5px solid $black !important;
			position: absolute;
			transform: rotate(-45deg);
			height: 10px !important;
			top: 12px !important;
			width: 10px !important;
			right: 12px !important;

			b {
				display: none;
			}
		}

		.input-text {
			background: $white;
			border: none;
			border-radius: 8px;
			box-shadow: none;
			text-align: left;
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black;
			letter-spacing: 0.14px;
			margin: 0;
			height: 35px;
			width: 100%;
		}

		input,
		select span,
		textarea {
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black;
		}

		textarea {
			@include mobile {
				height: 55px !important;
			}
		}

		label {
			font-family: $primary-font;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			color: $primary-black !important;
			margin-bottom: 5px;
		}

		#billing_address_1_field,
		#shipping_address_1_field {
			display: inline-block;
			width: 68%;

			@include mobile {
				width: 100%;
			}
		}

		#billing_address_2_field,
		#shipping_address_2_field {
			display: inline-block;
			width: 30%;

			label {
				display: block;
				height: 20px;
				width: 100%;
				position: relative !important;
				clip-path: none !important;
			}

			@include mobile {
				width: 100%;
			}
		}

		#billing_city_field,
		#shipping_city_field,
		#billing_state_field,
		#shipping_state_field,
		#billing_postcode_field,
		#shipping_postcode_field {
			display: inline-block;
			width: 32%;

			@include mobile {
				width: 100%;
			}
		}

		#billing_phone_field {
			width: 50%;

			@include mobile {
				width: 100%;
			}
		}
	}

	.col-1 {
		margin-bottom: 0;

		h3 {
			font: normal normal 500 22px/32px $primary-font;
			text-align: left;
			letter-spacing: 0px;
			color: $primary-black;
			text-transform: capitalize;
			padding-bottom: 0;
			margin-bottom: 0 !important;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			&::after {
				content: "Edit";
				text-decoration: underline;
				font: normal normal normal 12px $primary-font;
				letter-spacing: 0px;
				color: $primary-black;
				cursor: pointer;
				display: none;
			}

			// mobile
			@media (max-width: 1024px) {
				font: normal normal 700 18px/32px $primary-font;
			}
		}

		.woocommerce-billing-fields {

			&.complete {
				h3 {
					&::after {
						display: block;
					}
				}
			}

			&__field-wrapper-resume {
				margin-top: 30px;
			}

			&__field-wrapper {
				margin-top: 30px;
			}
		}

		#shipping_address_widget h3 {
			font: normal normal normal 22px/32px $primary-font !important;
			display: flex;
			flex-direction: row-reverse;
			padding-bottom: 12px;
			margin-bottom: 20px !important;
		}

		/* Billing & Shipping Resume */
		.resume__content__item__content__item__content {
			font-family: $primary-font;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			color: $primary-black;
			margin-bottom: 10px;
		}

	}

	.col-2 {
		margin-bottom: 0;

		/* Shipping Methods */
		.shipping-methods-container {
			margin-bottom: 51.53px;

			&__title {
				font-family: $primary-font;
				font-size: 16px;
				font-weight: 400;
				color: $primary-black;
				line-height: 19px;
				letter-spacing: 0.16px;
				margin-bottom: 16.2px;
			}

			.woocommerce-shipping-methods {
				li {
					border-bottom: 1.5px solid $border-line;
					padding-bottom: 13px;
					padding-top: 13px;
					margin-top: 0;
					display: block !important;
				}

				input[type="radio"],
				input[type="checkbox"] {
					/* hide original inputs */
					visibility: hidden;
					position: absolute;
				}

				input[type="radio"]+label,
				input[type="checkbox"]+label {
					cursor: pointer;
				}

				input[type="radio"]+label:before,
				input[type="checkbox"]+label:before {
					content: " ";
					border: 4px solid #cbcbcb;
					border-radius: 10px;
					display: inline-block;
					vertical-align: baseline;
					margin-right: 10px;
					transition: 0.3s;
					position: absolute;
					left: 0;
					top: 0px;
					height: 10px;
					width: 10px;
				}

				/* CUSTOM RADIO AND CHECKBOX STYLES */
				/* DEFAULT */
				input[type="radio"]+label:before {
					border-radius: 50%;
					width: 10px;
				}

				input[type="checkbox"]+label:before {
					border-radius: 2px;
					width: 26px;
				}

				/* CHECKED */
				input[type="radio"]:checked+label:before {
					background-color: $primary-black;
					/* box-shadow: inset 0 0px 0px white, inset 0 0 0px white, inset 0 0 0 2px white; */
				}

				input[type="checkbox"]:checked+label:before {
					background-color: $primary-black;
					/* box-shadow: inset 0 0px 0px white, inset 0 0 0px white, inset 0 0 0 2px white; */
				}

				.woocommerce-Price-amount {
					text-align: right;
					width: 47%;
				}

				label {
					text-transform: capitalize;
					position: relative;
					display: flex;
					justify-content: space-between;
					color: $primary-black;
					font-size: 14px;
					font-family: $primary-font;
					font-weight: 500;
					margin-left: 0;
					margin-bottom: 0;
					padding-left: 28px !important;
				}

				p {
					color: $primary-black;
					font-size: 12px;
					line-height: 16px;
					font-family: $primary-font;
					font-weight: 500;
					margin-bottom: 0;
					padding-left: 28px !important;
				}

				span {
					font: normal normal 500 14px/22px $primary-font !important;
					letter-spacing: 0.16px;
					text-transform: capitalize;
					color: $primary-black !important;
				}
			}
		}

		/* Gift Note */
		#custom-form-gift-checkout {
			background-color: transparent !important;
			padding: 0 !important;
			padding-top: 0 !important;
			border: 0 !important;
			margin: 0 !important;

			.d-gifting {
				display: block;
				cursor: pointer;
				margin: 0;
				padding: 0;
				padding-left: 0 !important;
				position: relative;
				text-transform: none !important;
				width: 100%;
			}

			.d-gifting::before {
				content: "";
				position: absolute;
				left: 30px;
				top: -8px;
				width: 33px;
				height: 31px;
				background-image: url(images/Gift.svg);
				background-repeat: no-repeat;
				margin-left: 0;
			}

			.d-gifting span {
				position: relative;
				padding-left: 72px !important;
				display: block;
				line-height: 19px !important;
				font: normal normal normal 16px/19px $primary-font !important;
				letter-spacing: 0.16px !important;
				color: $primary-black !important;
				text-transform: initial;
				width: 100%;
			}

			input[type="checkbox"] {
				display: none;
				opacity: 0;
			}

			input[type="checkbox"]+span::before {
				content: "";
				top: 0;
				position: absolute;
				width: 14px;
				height: 14px;
				border: 2px solid $primary-black !important;
				border-radius: 0 !important;
				left: 0;
			}

			input[type="checkbox"]:checked+span::after {
				content: "\2713";
				font-weight: bold;
				font-size: 15px;
				top: 1px !important;
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 0 !important;
				background: transparent !important;
				left: 4px !important;
			}

			.wcsg_add_recipient_fields {
				height: 0;
				margin-top: 0px;
				overflow: hidden;
				transition: all 0.3s ease-in-out;

				&.active {
					height: auto;
					margin-top: 20px;
					overflow: visible;
				}
			}
		}

		/* Shipping Address */
		.woocommerce-shipping-fields {
			&__field-wrapper-resume {
				margin-bottom: 23px;
			}

			.woocommerce-form__label-for-checkbox {
				margin: 30px 0;
				width: 100%;
			}

			.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
				padding-left: 0;
			}

			h3#ship-to-different-address {
				margin-bottom: 0px;
			}

			h3#ship-to-different-address label {
				padding-left: 0 !important;
			}

			h3#ship-to-different-address label span {
				position: relative;
				padding-left: 72px !important;
				display: block;
				line-height: 19px !important;
				font: normal normal normal 16px/19px $primary-font !important;
				letter-spacing: 0.16px !important;
				color: $primary-black !important;
				text-transform: initial;
				width: 100%;
			}

			h3#ship-to-different-address label::before {
				content: "";
				position: absolute;
				left: 30px;
				top: -8px;
				width: 33px;
				height: 27px;
				background-image: url(images/Casita.svg);
				background-repeat: no-repeat;
				margin-left: 0;
			}

			h3#ship-to-different-address label span:before {
				content: "";
				top: 0;
				position: absolute;
				width: 14px;
				height: 14px;
				border: 2px solid $primary-black !important;
				border-radius: 0 !important;
				left: 0;
			}

			h3#ship-to-different-address label span:after {
				content: "\2713";
				font-weight: bold;
				font-size: 15px;
				top: 1px !important;
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 0 !important;
				background: transparent !important;
				left: 4px !important;
			}
		}
	}

	/* Payment Method */
	.col-3 {
		background-color: $primary-grey;
		padding: 21px 22px;
		border-radius: 8px;
		position: relative;
		margin-bottom: 50px;
		opacity: 0.5;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);

		width: 100%;

		&.active {
			opacity: 1;
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
		}

		.payment-method-container {

			&__header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
			}

			&__title {
				font: normal normal 500 22px/32px $primary-font;
				text-align: left;
				letter-spacing: 0px;
				color: $primary-black;
				text-transform: capitalize;
				padding-bottom: 0;
				margin-bottom: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				// mobile
				@media (max-width: 1024px) {
					font: normal normal 700 18px/32px $primary-font;
				}
			}

			&__edit {
				font-family: $primary-font;
				font-size: 12px;
				font-weight: 400;
				color: $light-grey-4;
				text-decoration: underline;
			}
		}


		.payment-methods {
			display: none;
			position: relative;
			margin-top: 30px;

			.wc-stripe-error {
				background-color: $primary-grey;
				color: $new-red !important;
				border: 1px solid $new-red;
				border-radius: 8px;
				padding: 1em 2em 1em 2.5em;

				&::before {
					content: '';
					background-image: url(images/checkout/error-icon.svg);
					background-repeat: no-repeat;
					background-size: contain;
					display: block !important;
					position: absolute;
					left: -10px;
					top: calc(50% - 10px);
					height: 20px;
					width: 20px;
				}

				&::after {
					content: '';
					display: none;
				}
			}

			.wc_payment_method label,
			.wc_payment_method label a {
				font: normal normal normal 14px/18px $primary-font;
				letter-spacing: 0.14px;
				color: $primary-black;
				line-height: 24px;
				cursor: pointer;
				align-items: center;
			}

			.wc_payment_method label img {
				height: 24px;
				max-height: 50px;
				margin: 0 20px 0 0;
				width: auto;
				max-width: 100px;
			}

			// mobile
			@media (max-width: 1024px) {
				.ppc-button-wrapper {
					//display: none !important;
				}
			}
		}

		.payment_method_bacs {
			font: normal normal normal 14px/18px $primary-font;
			letter-spacing: 0.14px;
			color: $primary-black;
		}

		.payment_box {
			padding-top: 20px;
			padding-bottom: 0px;

			p {
				font: normal normal normal 13px/18px $primary-font;
				color: $primary-black;
				padding: 0 13px 0;
				margin-bottom: 0;
			}

			a {
				font: normal normal normal 13px/18px $primary-font;
				color: $primary-black;
				padding: 0;
				display: inline-block;
				margin-bottom: 0;
			}
		}

		ul.wc_payment_methods.payment_methods.methods {
			list-style: none;
			border-radius: 0;
			overflow: visible;
			margin-bottom: 15px !important;
			margin: 0 !important;
			color: $primary-black !important;
			padding: 0;

			li {
				border-left: 0 !important;
				font: normal normal 500 14px/19px $primary-font;
				letter-spacing: 0.16px;
				margin: 0 0 15px !important;
				list-style: none;
				border-radius: 0;
				overflow: visible;

				&:last-of-type {
					margin-bottom: 0 !important;
				}

				a {
					color: $new-red;
				}

				label img {
					width: auto;
					max-width: 100px;
					height: 24px;
					max-height: 50px;
					margin: 0 20px 0 0;
				}

				label .simple-arrow {
					content: "" !important;
					background: transparent;
					border-left: 2px solid $primary-black !important;
					border-right: 0 !important;
					border-bottom: 2px solid $primary-black !important;
					border-top: 0 !important;
					position: absolute;
					transform: rotate(-132deg);
					transition: all 0.3s ease-in-out;
					-webkit-appearance: none;
					-moz-appearance: none;
					height: 10px !important;
					width: 10px !important;
					right: 14px !important;
				}

				&>label,
				&>label[for="payment_method_bacs"],
				&>label[for="payment_method_stripe"],
				&>label[for="payment_method_ppcp-gateway"],
				&>label[for="payment_method_afterpay"] {
					background: $white;
					border-radius: 8px;
					display: flex;
					align-items: center;
					justify-content: flex-start !important;
					padding-left: 20px !important;
					padding-bottom: 0;
					position: relative;
					font-weight: 700;
					height: 48px;
				}

				input[type="radio"],
				input[type="checkbox"] {
					/* hide original inputs */
					visibility: hidden;
					position: absolute;
				}

				input[type="radio"]+label,
				input[type="checkbox"]+label {
					cursor: pointer;
				}

				input[name="payment_method"]:checked+label .simple-arrow {
					transform: rotate(-45deg);
				}

				.woocommerce-SavedPaymentMethods.wc-saved-payment-methods {
					border-radius: 0;
					box-shadow: none;
					list-style: none !important;
					margin: 0;
					padding: 13px 13px 17px 13px;

					li {
						border-bottom: 1.5px solid #d6d6d6;
					}

					li label {
						background: $primary-grey;
						position: relative;
						display: flex;
						justify-content: space-between;
						display: -webkit-flex;
						color: $primary-black;
						font-size: 14px;
						font-family: $primary-font;
						font-weight: 400 !important;
						margin-left: 0;
						height: 28px;
						padding-left: 28px !important;
					}

					li>label:before {
						border: 4px solid #cbcbcb !important;
						border-radius: 10px !important;
						display: inline-block;
						vertical-align: baseline;
						margin-right: 10px;
						transition: 0.3s;
						height: 10px !important;
						width: 10px !important;
					}

					.woocommerce-SavedPaymentMethods-token {
						label {
							margin-top: 10px !important;
						}
					}

					.woocommerce-SavedPaymentMethods-new {
						border-bottom: 0;
						margin-top: 10px !important;

						label {
							background-color: $white;
							border: 1.5px solid $primary-black;
							border-radius: 5px;
							font-size: 0px !important;
							display: flex;
							align-items: center;
							justify-content: center !important;
							margin-top: 10px !important;
							padding: 5px 0 5px 0 !important;
							height: 37px;
							width: 190px;

							&::before {
								display: none;
							}

							&::after {
								content: "Add New Card";
								background: transparent;
								color: $primary-black;
								font-family: $primary-font;
								font-size: 12px !important;
								font-weight: 700 !important;
								line-height: 10px;
								opacity: 1 !important;
								position: relative;
								width: max-content;
							}
						}

						input[type="radio"]:checked+label:after {
							display: flex !important;
						}
					}

					li [type="radio"]:checked+label:after {
						opacity: 1 !important;
					}

					li>label:after {
						content: " ";
						background: $black;
						border-radius: 50%;
						left: 3px !important;
						top: 3px;
						opacity: 0 !important;
						position: absolute;
						height: 12px;
						width: 12px;
						z-index: 0;
					}

					li>label:before {
						content: " " !important;
						background: $white;
						border: 2px solid #707070;
						border-radius: 50%;
						position: absolute;
						left: 0 !important;
						top: 0;
						height: 18px;
						width: 18px;
						z-index: 0;
					}
				}
			}

			// mobile
			@media (max-width: 1024px) {
				margin-bottom: 0 !important;
			}
		}

		#stripe-payment-data {
			padding-bottom: 10px;

			fieldset {
				padding: 0 13px !important;
				padding-top: 1em;
				border: 0;
				margin: 0;
				margin-bottom: 0;
				margin-top: 10px;
			}
		}



		.summary-loader {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.9);
			z-index: 9999;
			display: none;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 3em;
				height: 3em;

				border: 4px solid rgba(0, 0, 0, 0.1);
				border-radius: 50%;
				border-left-color: $new-red;
				animation: spin 1s ease infinite;
			}
		}

	}

	/* Hide Default - Create Account */
	.woocommerce-account-fields {
		display: none !important;
	}

	/* Amazon Checkout */
	#amazon_customer_details {
		padding-top: 0 !important;

		.col-1,
		.col-2 {
			background: $primary-grey;
			border-radius: 8px;
			margin-bottom: 15px;
			position: relative;
			padding: 21px 22px;
			width: 100%;
			z-index: 10;

			h3 {
				font: normal normal 500 22px/32px $primary-font !important;
				border-bottom: 0 !important;
				padding-bottom: 0 !important;
			}
		}

	}

	/* Terms */
	.woocommmerce-custom-terms-condition {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 30px;
		margin-bottom: 30px;
		border-top: 2.5px solid #e8e8e8;
		padding-top: 20px;

		.woocommerce-form__label {
			width: 100%;
		}

		.automatewoo-optin {
			margin-bottom: 10px;
		}

		.automatewoo-optin label {
			position: relative;
		}

		.automatewoo-optin label span {
			position: relative;
			padding-left: 30px;

			// mobile
			@media (max-width: 767px) {
				display: block;
			}
		}

		.automatewoo-optin label input[type="checkbox"]+span::before {
			content: "";
			top: 0;
			position: absolute;
			width: 14px;
			height: 14px;
			border-radius: 0 !important;
			left: 0;
		}

		.automatewoo-optin label input[type="checkbox"]:checked+span::after {
			content: "\2713";
			font-weight: bold;
			font-size: 15px;
			top: 2px !important;
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 0 !important;
			background: transparent !important;
			left: 4px !important;
		}

		.woocommerce-privacy-policy-text,
		.woocommerce-privacy-policy-text p {
			font: normal normal normal 12px/21px $primary-font !important;
			letter-spacing: 0px;
			color: $primary-black !important;
			margin-bottom: 0;
		}

		.woocommerce-privacy-policy-text a {
			display: inline-block;
			font: normal normal 600 12px/21px $primary-font !important;
			letter-spacing: 0px;
			color: $primary-black !important;
		}
	}

	.woocommerce_checkout_place_order_container {
		@include tablet {
			background-color: $primary-grey;
			width: 100% !important;
			position: sticky;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 999;

			// button place order mobile
			.woocommerce_checkout_place_order {
				margin-top: 15px !important;
				margin-bottom: 20px !important;
			}
		}
	}

	/* Place Order Button Desktop*/
	.woocommerce_checkout_place_order {
		background: $new-red;
		border-radius: 4px !important;
		border-top-right-radius: 4px !important;
		border-top-left-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
		display: inline-block;
		font-family: $primary-font;
		font-size: 15px !important;
		font-weight: 700;
		height: 38px;
		line-height: 25px;
		padding: 0px !important;
		width: 100% !important;
		margin: 0 auto !important;
		float: none;
		clear: both;

		&:hover {
			background: #cc1a34;
		}

		&:disabled,
		&[disabled] {
			background-color: #bebebe !important;
			cursor: not-allowed;
			opacity: 1 !important;
		}

		// mobile
		@include tablet {
			max-width: 100%;
			margin: 40px auto !important;
		}
	}

	.continue-shopping {
		background-color: $white !important;
		border-radius: 4px !important;
		border: 1.3px solid $primary-black;
		border-radius: 4px;
		color: $primary-black !important;
		display: none;
		line-height: 25px;
		font-size: 15px !important;
		font-weight: 700 !important;
		font-family: $primary-font;
		padding: 6px !important;
		margin: 0;
		margin-top: 8px;

		// mobile
		@media (max-width: 1024px) {
			display: block;
		}
	}

	#menu-footer-legal {
		display: inline-flex;
		gap: 20px;
		list-style: none;
	}
}

/* Thank you page */
.woocommerce-order-received {
	.col-full {
		margin-top: 0 !important;
	}
}