.baketivity-my-account {
    &__lost-section {
        background-color: $white;
        border-radius: 15px;
        position: relative;
        display: block;
        float: none;
        margin-bottom: 0;
        margin-right: 0;
        width: 364px;
    }
    &__lost-password {
        background-color: $white;
        border-radius: 15px;
        position: relative;
        display: block;
        float: none;
        margin-bottom: 0;
        margin-right: 0;
        padding: 15px 21px 34px 21px !important; 
        width: 364px;
    }
    &__instructions {
        font-family: $primary-font;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 0;
        text-align: center;
        color: #BEBEBE;
        margin: 0 auto 17px;
        max-width: 275px;
    }
    &__input {
        background-color: #F8F8F8 !important;
        border-radius: 8px !important;
        border: none;
        max-width: 322px;

        font-family: $primary-font;
        font-size: 16px;
        font-weight: 400 !important;
        line-height: 22px;
        color: $primary-black !important;
        box-shadow: none !important;
        padding: 9px !important ;
        &::placeholder {
            font: normal normal 400 14px/18px $primary-font;
        }
        &::-webkit-input-placeholder {
            font: normal normal 400 14px/18px $primary-font;
        }
        &:-ms-input-placeholder {
            font: normal normal 400 14px/18px $primary-font;
        }
    }
    &__button {
        font-family: $primary-font;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        background-color: $new-red !important;
        box-shadow: none;            
        border-radius: 4px !important;
        color: $white;
        padding: 10px 15px;
        width: 100% !important;
        &:hover {
            background-color: $new-red !important;
        }
        &.active {
            background-color: $new-red !important;
        }
    }
    &__container {
        margin-bottom: 0 !important;
    }
}