.woocommerce-account {
    .col-2 {
        width: 100% !important;
    }

    input#username {
        text-align: left;
    }

    .woocommerce-PaymentBox {
        display: block !important;
    }
}