.search-results {
    .col {
        width: 100%;
        max-width: 1088px;
        margin: 40px auto;
    }
    * {
        font-family: $primary-font;
        font-weight: 400;
    }
    .product.type-product {
        text-align: left;
    }
    article {
        background-color: #f8f8f8;
        border-radius: 8px;
        margin-bottom: 30px;
        padding: 20px 40px;
    }
}