.shopping-list-page {
    .hero-home__container-fluid {
        // mobile
        @include mobile {
            background: none;
            background: #f3f5f6;
            background: linear-gradient(180deg, #f3f5f6 0%, #f3f5f6 23%, rgba(255, 255, 255, 0) 32%);
            flex-direction: column;
            align-items: center;
            height: 100%;
            min-height: 500px;
            max-width: 100%;
        }
    }
    .hero-home__title {
        background-image: url(images/shop/subrayado-red.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        margin-bottom: 0;
        padding-bottom: 23px;
        // mobile
        @include mobile {
            padding-bottom: 17px;
        }
    }
    .hero-home__right::before {
        display: none;
    }
}