.gifting-is-better {
    display: block;
    height: auto;
    padding: 70px 0;
    width: 100%;
    // mobile
        @media (max-width: 768px) {
            padding: 25px 20px 25px;
        }
    &__container {
        width: 100%;
        max-width: 1080px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
    }
    &__header {
        display: flex;
        justify-content: center;
        height: auto;
        margin-bottom: 74px;
        width: 100%;
        // mobile
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
    &__header-title {
        font-family: $primary-font;
        font-size: 37px;
        font-weight: 800;
        line-height: 44px;
        color: $primary-black;
        margin-bottom: 0;
        display: block;
        text-align: center;
        position: relative;

        &::after {
            content: '';
            width: 284px;
            height: 19px;
            position: absolute;
            bottom: -15px;
            right: 0px;
            
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(images/gifting/subrayado-green.svg);
            // mobile
            @media (max-width: 768px) {
                content: '';
                width: 198px;
                height: 12px;
            }
        }

        b {
            font-weight: 800;
            color: $new-red;
        }
        // mobile
        @media (max-width: 768px) {
            font-size: 26px;
            line-height: 31px;
            max-width: 250px;
        }
    }
    &__left {
        width: 45%;
        // mobile
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__right {
        position: relative;
        width: 55%;
        // mobile
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__image {
        position: absolute;
        width: auto;
        height: 110%;
        left: -45px;
        max-width: 511px;
    }
    &__image-desktop {
        width: 550px;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    &__content {
        font-family: $primary-font;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: $primary-black;
        width: 100%;
        p {
            font-family: $primary-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: $primary-black;
            margin-bottom: 0;
            display: block;
            width: 100%;
            max-width: 434px;
            // mobile
            @media (max-width: 1024px) {
                font-size: 16px;
                line-height: 26px;
                max-width: 320px;
            }
        }
        strong {
            font-family: $primary-font;
            font-size: 22px;
            font-weight: 700;
            // mobile
            @media (max-width: 1024px) {
                font-size: 18px;
                line-height: 26px;
            }
        }
        // mobile
        @media (max-width: 768px) {
            text-align: center;
            font-size: 16px !important;
            font-weight: 500;
            line-height: 24px;
            margin: 0 auto;
            * {
                font-size: 16px !important; 
                font-weight: 500;
                line-height: 24px;
            }
        }
        @media (max-width: 500px) {
            width: 100%;
            max-width: 309px;
        }
    }
    &__item {
        display: flex !important;
        margin-bottom: 48px;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
        // tablet
        @media (max-width: 1024px) {
            justify-content: center;
            flex-direction: column;
        }
    }
    &__item-image {
        display: block;
        margin-right: 10px;
        height: 138px;
        width: 138px;
        // mobile
        @media (max-width: 500px) {
            height: 163px;
            width: 163px;
            margin-bottom: 28px;
        }
    }
    &__dots {
        position: absolute;
        bottom: 0px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            &.slick-active {
                button {
                    background-color: #4D4D4F;
                    height: 17px;
                    width: 17px;
                }
            }
        }
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            height: 13px;
            width: 13px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: $white;
            border-radius: 50%;
        }
    }
    .slick-prev {
        background-image: url(images/modules/rounded-white-slider-arrows.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 783%;
        background-position: left center;
        width: 61px;
        height: 61px;
        left: -80px !important;
        margin-left: 0px !important;
        box-shadow: none !important;
        top: 16%;
        font-size: 0 !important;
        position: absolute;
        z-index: 1;
        &::before {
            display: none;
        }
        // tablet
        @media (max-width: 1190px) {
            left: -40px !important;
        }
    }
    .slick-next {
        background-image: url(images/modules/rounded-white-slider-arrows.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 783%;
        background-position: right center;
        width: 61px;
        height: 61px;
        right: -47px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        box-shadow: none !important;
        top: 16%;
        font-size: 0 !important;
        position: absolute;
        z-index: 1;
        &::before {
            display: none;
        }
        // tablet
        @media (max-width: 1190px) {
            right: -40px !important;
        }
    }
}